openapi: 3.1.0
info:
  title: HG.Cash API
  description: |
    # 🚀 API de transacciones HG.Cash
    
    API REST moderna para que los usuarios creen transacciones de salida desde sus cuentas.
    
    ## 🧾 Cómo funciona
    
    - HG.Cash asigna cuentas a su usuario
    - Cuando estas cuentas tienen movimientos (entrada o salida), HG.Cash notificará su backend usando la URL de webhook que configure en el panel de HG.Cash
    - **Firma de webhooks (HMAC)**: En la configuración de la cuenta puede generar un secreto de firma. Cuando está configurado, cada POST de webhook incluye el encabezado `X-HG-Webhook-Signature: sha256=<hex>` donde el valor es HMAC-SHA256 del cuerpo JSON sin procesar usando su secreto. Verifíquelo en su endpoint para asegurar que la solicitud es auténtica.
    - Para crear retiros (dinero que sale de sus cuentas), debe llamar al endpoint **Cash Out**: **Crear solicitud de transacción** (`POST /transactions`)
    
    ## 📊 Primeros pasos
    
    1. **Genere su token de API** en la página de configuración de la cuenta
    2. **Pruebe los endpoints** usando la documentación interactiva a continuación
    3. **Implemente** en sus servicios de backend (nunca exponga tokens en el frontend)
    4. **Supervise** su integración y maneje los errores adecuadamente

    ## 🔐 Autenticación
    
    Esta API usa autenticación **Bearer Token**. Incluya el token de API del usuario en el encabezado Authorization, por ejemplo `Authorization: Bearer cash_your_token_here`.
    
    ## ⚠️ Notas importantes de seguridad
    
    - Nunca comparta ni exponga su token de autenticación de API de usuario
    - Almacene los tokens de forma segura solo en sus servidores de backend
    - Todas las llamadas a la API deben realizarse desde servicios de backend seguros
    - Contacte a los administradores inmediatamente si su token se ve comprometido
    
  version: 1.0.0
  contact:
    name: HG.Cash API Support
    email: api-support@hg.cash
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://hg.cash/api/v1
    description: Servidor de producción
  - url: http://dev.hg.cash/api/v1
    description: Servidor de desarrollo

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Token de autenticación de API de usuario con formato `cash_<64-char-hex>`.
        Valor de ejemplo `cash_16cdc3b6f83c72d9d2680adca4f430962981f6bf32613a129dded0aa060387d2`.
    webhookHmac:
      type: apiKey
      in: header
      name: X-HG-Webhook-Signature
      description: |
        Firma HMAC-SHA256 del cuerpo JSON sin procesar. Formato: `sha256=<hex>`.
        Cuando configura un secreto de firma de webhooks en la configuración de la cuenta, HG.Cash incluye
        este encabezado en cada POST de webhook. Verifique la firma en su endpoint para asegurar que la solicitud es auténtica.

  schemas:
    Transaction:
      type: object
      description: Solicitud de creación de transacción de salida por un usuario
      required:
        - accountId
        - amount
      properties:
        accountId:
          type: string
          format: uuid
          description: ID de la cuenta del usuario desde la cual enviar fondos
          example: "550e8400-e29b-41d4-a716-446655440123"
        fromName:
          type: string
          description: Nombre del remitente de la transacción
          example: "Juan Pérez"
          maxLength: 255
        toName:
          type: string
          description: Nombre del destinatario de la transacción
          example: "María García"
          maxLength: 255
        fromCBU:
          type: number
          description: CBU (número de cuenta bancaria) del remitente
          example: 170001540000000000001
        toCBU:
          type: string
          description: CBU del destinatario (22 dígitos). Proporcione toCBU o toCVU.
          example: "1100015400000000000021"
        toCVU:
          type: string
          description: CVU del destinatario (22 dígitos). Proporcione toCBU o toCVU.
          example: "0000003100012345678901"
        amount:
          type: number
          format: decimal
          description: Monto de la transacción (debe ser positivo)
          example: 15000.50
        fromCUIT:
          type: number
          description: CUIT/CUIL del remitente
          example: 20123456789
        toCUIT:
          type: number
          description: CUIT/CUIL del destinatario
          example: 27987654321
        concept:
          type: string
          description: Concepto o descripción de la transacción
          example: "Payment for services"
          maxLength: 500
        externalDate:
          type: string
          format: date-time
          description: Fecha de la transacción en su sistema (formato ISO 8601)
          example: "2024-06-19T10:30:00Z"
        coelsaCode:
          type: string
          description: Código de transacción Coelsa
          example: "COELSA123456"
          maxLength: 100
        data:
          type: object
          description: Datos JSON adicionales para la transacción
          example: 
            reference: "REF-001"
            category: "services"
            metadata:
              source: "mobile_app"
              version: "1.2.3"
        webhookUrl:
          type: string
          format: uri
          description: URL de webhook opcional para recibir actualizaciones de estado de esta solicitud
          example: "https://client.example.com/webhooks/transaction-request"

    TransactionRequestResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID interno de la solicitud de transacción
          example: "789e0123-e89b-12d3-a456-426614174999"
        externalID:
          type: string
          example: "REQ-2024-001234"
        createdAt:
          type: string
          format: date-time
          example: "2024-06-19T10:30:00Z"
        status:
          type: string
          enum: [PENDING, AWAITING_REVIEW, PROCESSING, DONE, ERROR, CANCELLED]
          example: "PENDING"

    TransactionStatus:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          example: "pending"
        description:
          type: string
          example: "La transacción está pendiente de procesamiento"

    TransactionType:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
        name:
          type: string
          example: "transfer"
        description:
          type: string
          example: "Transacción de transferencia bancaria"

    AliasLookupRequest:
      type: object
      required:
        - alias
      properties:
        alias:
          type: string
          description: CVU (22 dígitos) o alias a consultar
          example: "miempresa.cbu"
    AliasLookupResponse:
      type: object
      properties:
        alias:
          type: string
          nullable: true
          description: Alias de la cuenta
        cuit:
          type: string
          nullable: true
          description: CUIT/CUIL del titular de la cuenta
        cvu:
          type: string
          description: CVU (22 dígitos)
        nombre:
          type: string
          nullable: true
          description: Nombre del titular de la cuenta
        tipoPersona:
          type: string
          nullable: true
          description: Tipo de persona
    ErrorResponse:
      type: object
      description: Carga de error devuelta por la API.
      additionalProperties: true
      required:
        - error
      properties:
        error:
          type: string
          example: "Invalid request"
        code:
          type: string
          description: Código de error legible por máquina (cuando esté disponible)
          example: "INSUFFICIENT_NET_BALANCE"
        message:
          type: string
          example: "The provided data is invalid"
        details:
          type: object
          description: Detalles adicionales del error
          example:
            field: "amount"
            code: "INVALID_VALUE"

    TransactionRequestStatusWebhook:
      type: object
      description: |
        Carga enviada a su endpoint de webhook cuando cambia el estado de una solicitud de transacción.
        
        **Encabezados:** Cuando configura un secreto de firma de webhooks en la configuración de la cuenta, HG.Cash envía el encabezado `X-HG-Webhook-Signature: sha256=<hex>` donde el valor es HMAC-SHA256 del cuerpo JSON sin procesar usando su secreto. Verifíquelo para asegurar que la solicitud es auténtica.
        
        Notas:
        - Los valores numéricos (como `amount`, CBU/CUIT) se envían como cadenas para preservar precisión y formato.
        - `date` es una fecha y hora local y debe interpretarse usando `timezone`.
        - Configure su URL de webhook en la página de configuración de la cuenta.
      required:
        - id
        - externalID
        - amount
        - currency
        - direction
        - status
        - type
        - accountId
        - date
        - timezone
        - topic
        - eventType
      properties:
        topic:
          type: string
          description: Tema del webhook para enrutamiento (siempre `TRANSACTION_REQUEST` para webhooks de solicitudes de transacción)
          enum: [TRANSACTION_REQUEST]
          example: "TRANSACTION_REQUEST"
        eventType:
          type: string
          description: Tipo de evento dentro del tema
          enum: [status_change, transaction_associated]
          example: "status_change"
        id:
          type: string
          format: uuid
          description: ID interno de la transacción
          example: "789e0123-e89b-12d3-a456-426614174999"
        externalID:
          type: string
          description: ID externo proporcionado al crear la transacción
          example: "TXN-2024-001234"
        amount:
          type: string
          description: Monto de la transacción como cadena decimal
          example: "15000.50"
        currency:
          type: string
          description: Código de moneda ISO 4217
          pattern: "^[A-Z]{3}$"
          example: "ARS"
        direction:
          type: string
          enum: [Inbound, Outbound]
          description: Dirección de la transacción
          example: "Inbound"
        status:
          type: string
          description: Estado actual de la solicitud de transacción
          enum: [PENDING, AWAITING_REVIEW, PROCESSING, DONE, ERROR, CANCELLED]
          example: "PENDING"
        type:
          type: string
          description: Tipo de notificación. Siempre "request" para solicitudes de transacción
          example: "request"
        accountId:
          type: string
          format: uuid
          description: ID de cuenta HG.Cash asociado a la transacción
          example: "550e8400-e29b-41d4-a716-446655440123"
        date:
          type: string
          format: date-time
          description: Fecha y hora local de la transacción en la zona horaria proporcionada
          example: "2024-06-19T10:30:00"
        timezone:
          type: string
          description: Identificador de zona horaria IANA usado para interpretar `date`
          example: "America/Argentina/Buenos_Aires"
        error:
          type: string
          description: Mensaje de error opcional cuando el estado es ERROR
          example: "Insufficient funds on destination account"
        errorCode:
          type: string
          description: Código de error legible por máquina cuando el estado es ERROR
          enum: [INSUFFICIENT_BALANCE, DESTINATION_ERROR]
          example: "INSUFFICIENT_BALANCE"
        fromName:
          type: string
          description: Nombre del remitente
          example: "Juan Pérez"
        toName:
          type: string
          description: Nombre del destinatario
          example: "María García"
        fromCBU:
          type: string
          description: CBU del remitente (22 dígitos). Enviado como cadena.
          pattern: "^\\d{22}$"
          example: "1700015400000000000010"
        toCBU:
          type: string
          description: CBU del destinatario (22 dígitos). Enviado como cadena.
          pattern: "^\\d{22}$"
          example: "1100015400000000000021"
        toCVU:
          type: string
          description: CVU del destinatario (22 dígitos). Enviado como cadena.
          pattern: "^\\d{22}$"
          example: "0000003100012345678901"
        fromCUIT:
          type: string
          description: CUIT/CUIL del remitente (11 dígitos). Enviado como cadena.
          pattern: "^\\d{11}$"
          example: "20123456789"
        toCUIT:
          type: string
          description: CUIT/CUIL del destinatario (11 dígitos). Enviado como cadena.
          pattern: "^\\d{11}$"
          example: "27987654321"
        concept:
          type: string
          description: Concepto o descripción de la transacción
          example: "Payment for services"
        coelsaCode:
          type: string
          description: Código de transacción Coelsa
          example: "COELSA123456"
        data:
          type: object
          description: Metadatos JSON opcionales de la solicitud de transacción
        isSecurityFlagged:
          type: boolean
          description: Cuando es true, la solicitud fue retenida para revisión de seguridad antes del procesamiento
        securityFlagReason:
          type: string
          description: Motivo legible por máquina opcional cuando se marca para revisión de seguridad
        transactionId:
          type: string
          format: uuid
          description: ID de transacción del libro mayor vinculado (incluido en webhooks transaction_associated)
    AccountMovementWebhook:
      type: object
      description: |
        Carga enviada a su endpoint de webhook cada vez que entra o sale dinero de una de sus cuentas HG.Cash.
        
        **Encabezados:** Cuando configura un secreto de firma de webhooks en la configuración de la cuenta, HG.Cash envía el encabezado `X-HG-Webhook-Signature: sha256=<hex>` donde el valor es HMAC-SHA256 del cuerpo JSON sin procesar usando su secreto. Verifíquelo para asegurar que la solicitud es auténtica.
        
        Notas:
        - Los valores numéricos (como `amount`, CBU/CUIT) se envían como cadenas para preservar precisión y formato.
        - `date` es una fecha y hora local y debe interpretarse usando `timezone`.
      required:
        - id
        - externalID
        - amount
        - currency
        - direction
        - status
        - type
        - accountId
        - date
        - timezone
        - topic
        - eventType
      properties:
        topic:
          type: string
          description: Tema del webhook para enrutamiento
          enum: [TRANSACTION]
          example: "TRANSACTION"
        eventType:
          type: string
          description: Tipo de evento dentro del tema
          enum: [created, status_change]
          example: "created"
        id:
          type: string
          format: uuid
          description: ID interno del movimiento
        externalID:
          type: string
          description: Identificador externo del proveedor o banco para el movimiento
        amount:
          type: string
          description: Monto del movimiento como cadena decimal
        currency:
          type: string
          description: Código de moneda ISO 4217
          pattern: "^[A-Z]{3}$"
        direction:
          type: string
          description: Dirección del movimiento respecto a su cuenta
          enum: [Inbound, Outbound]
        status:
          type: string
          description: Estado actual del movimiento
        type:
          type: string
          description: Tipo de movimiento (por ejemplo `inbound` o `outbound`)
        accountId:
          type: string
          format: uuid
          description: ID de cuenta HG.Cash asociado al movimiento
        date:
          type: string
          format: date-time
          description: Fecha y hora local del movimiento en la zona horaria proporcionada
        timezone:
          type: string
          description: Identificador de zona horaria IANA usado para interpretar `date`
        fromName:
          type: string
          description: Nombre del remitente
        toName:
          type: string
          description: Nombre del destinatario
        fromCBU:
          type: string
          description: CBU del remitente (22 dígitos). Enviado como cadena.
          pattern: "^\\d{22}$"
        toCBU:
          type: string
          description: CBU del destinatario (22 dígitos). Enviado como cadena.
          pattern: "^\\d{22}$"
        fromCUIT:
          type: string
          description: CUIT/CUIL del remitente (11 dígitos). Enviado como cadena.
          pattern: "^\\d{11}$"
        toCUIT:
          type: string
          description: CUIT/CUIL del destinatario (11 dígitos). Enviado como cadena.
          pattern: "^\\d{11}$"
        coelsaCode:
          type: string
          description: Código de transacción Coelsa

    WebhookCheckoutPayload:
      type: object
      description: Carga enviada cuando una sesión de checkout hospedado cambia de estado
      required:
        - id
        - status
        - event
        - amount
        - currency
        - country
        - topic
        - eventType
      properties:
        topic:
          type: string
          description: Tema del webhook para enrutamiento
          enum: [CHECKOUT]
          example: "CHECKOUT"
        eventType:
          type: string
          description: Tipo de evento (coincide con `event`)
          enum:
            - checkout.completed
            - checkout.awaiting_manual_review
            - checkout.rejected
          example: "checkout.completed"
        id:
          type: string
          format: uuid
          description: ID de la sesión de checkout
        status:
          type: string
          description: Estado del checkout después del evento
        event:
          type: string
          enum:
            - checkout.completed
            - checkout.awaiting_manual_review
            - checkout.rejected
        amount:
          type: string
          description: Monto decimal como cadena
        currency:
          type: string
          description: Código de moneda ISO 4217
        country:
          type: string
          enum: [AR, BR, CL, BO]
        transactionId:
          type: string
          format: uuid
          nullable: true
          description: Transacción entrante vinculada cuando esté disponible
        metadata:
          type: object
          description: Metadatos opacos de la creación del checkout
        completedAt:
          type: string
          format: date-time
          nullable: true

    CreateCheckoutRequest:
      type: object
      required: [country, amount, successUrl]
      properties:
        country:
          type: string
          enum: [AR, BR, CL, BO]
        amount:
          type: string
          description: Monto decimal como cadena
        accountId:
          type: string
          format: uuid
        successUrl:
          type: string
          format: uri
        cancelUrl:
          type: string
          format: uri
        webhookUrl:
          type: string
          format: uri
        expiresInSeconds:
          type: integer
        idempotencyKey:
          type: string
        locale:
          type: string
          enum: [es, en]
        metadata:
          type: object
        payer:
          type: object
          properties:
            name: { type: string, description: "Nombre completo del pagador (obligatorio para BR y BO)" }
            document: { type: string, description: "AR DNI de 8 dígitos; BR CPF/CNPJ del pagador; BO CI/documento del pagador" }
            email: { type: string, format: email }
          description: "BR exige name, document y email; BO exige name, document y email"
        paymentMethodId:
          type: string
          format: uuid
          description: Obligatorio para CL
        customer:
          type: object
          description: Obligatorio para CL (ver campos customer de ClInboundTransactionRequest)

    CreateCheckoutResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        publicToken: { type: string }
        checkoutUrl: { type: string, format: uri }
        status: { type: string }
        expiresAt: { type: string, format: date-time }
        accountDisplay:
          type: object
          description: Presente para AR (CVU, alias, titular)
        qrCode: { type: string }
        pixCopiaECola: { type: string }
        checkoutUrlProvider: { type: string, format: uri }

    InboundTransactionRequest:
      type: object
      description: Solicitud para crear una transacción entrante (cobro) en cuentas BRL de Brasil
      required:
        - accountId
        - amount
        - email
        - document
      properties:
        accountId:
          type: string
          format: uuid
          description: ID de la cuenta que recibirá los fondos
        amount:
          type: number
          format: decimal
          description: Monto a cobrar (positivo)
        email:
          type: string
          format: email
          description: Email del pagador para el cobro
        document:
          type: string
          description: CPF o CNPJ del pagador (solo dígitos, o con puntuación)
        webhookUrl:
          type: string
          format: uri
          description: URL opcional para recibir actualizaciones de estado

    InboundTransactionResponse:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
          format: uuid
          description: ID de transacción HG.Cash
        qrCode:
          type: string
          description: Cadena de código QR para que el pagador la escanee (base64 o cadena PIX)
        pixCopiaECola:
          type: string
          description: Cadena PIX copiar y pegar (alternativa al código QR)
        status:
          type: string
          enum: [pending]

    BrazilProviderError:
      type: object
      required: [error, code, type]
      description: Error seguro relacionado con el proveedor (sin detalles internos ni campos de mensaje duplicados)
      properties:
        error:
          type: string
          description: Mensaje legible para clientes
        code:
          type: string
          description: Código estable legible por máquina (p. ej. BR_INBOUND_PROVIDER_MISSING_TXID)
        type:
          type: string
          description: Categoría del error (p. ej. provider_error, provider_invalid_response)

    BoliviaProviderError:
      type: object
      required: [error, code, type]
      description: Error seguro del proveedor de pagos (sin detalles internos)
      properties:
        error:
          type: string
        code:
          type: string
          description: Código estable (p. ej. BO_INBOUND_PROVIDER_MISSING_TXID)
        type:
          type: string

    ClPaymentMethod:
      type: object
      required: [id, country, type, name]
      properties:
        id:
          type: string
          format: uuid
          description: ID del método de pago HG.Cash para la opción de cash-in seleccionada
        country:
          type: string
          example: CL
        type:
          type: string
          enum: [BANK_TRANSFER, CASH, WALLET, CREDIT_CARD]
        name:
          type: string

    ClPaymentMethodsResponse:
      type: object
      required: [paymentMethods]
      properties:
        paymentMethods:
          type: array
          items:
            $ref: '#/components/schemas/ClPaymentMethod'

    ClInboundCustomer:
      type: object
      required: [firstName, lastName, email, personalId, ip]
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        personalId:
          type: string
          description: Documento nacional de identidad de Chile (cédula)
        ip:
          type: string
        city:
          type: string
        address:
          type: string
        zip:
          type: string
        phone:
          type: string

    ClInboundTransactionRequest:
      type: object
      description: Crear transacción entrante (checkout hospedado) para cuentas CLP de Chile
      required: [accountId, paymentMethodId, amount, customer]
      properties:
        accountId:
          type: string
          format: uuid
        paymentMethodId:
          type: string
          format: uuid
          description: ID de GET /cl/payment-methods
        amount:
          oneOf:
            - type: number
              format: decimal
            - type: string
          description: Monto en CLP (p. ej. 100.50)
        description:
          type: string
        webhookUrl:
          type: string
          format: uri
        returnUrl:
          type: string
          format: uri
        language:
          type: string
          enum: [EN, ES, PT]
        customer:
          $ref: '#/components/schemas/ClInboundCustomer'

    ClInboundTransactionResponse:
      type: object
      required: [id, checkoutUrl, status]
      properties:
        id:
          type: string
          format: uuid
        checkoutUrl:
          type: string
          format: uri
          description: Redirigir al pagador a esta URL de checkout hospedado
        status:
          type: string
          enum: [pending]

    ClOutboundTransactionRequest:
      type: object
      description: Crear payout de salida para cuentas CLP de Chile
      required:
        - accountId
        - amount
        - beneficiaryFirstName
        - beneficiaryLastName
        - email
        - documentType
        - documentNumber
        - payoutBeneficiaryTypeCode
        - bankName
        - accountNumber
        - payoutAccountTypeCode
      properties:
        accountId:
          type: string
          format: uuid
        amount:
          oneOf:
            - type: number
              format: decimal
            - type: string
        beneficiaryFirstName:
          type: string
        beneficiaryLastName:
          type: string
        email:
          type: string
          format: email
        documentType:
          type: string
        documentNumber:
          type: string
        payoutBeneficiaryTypeCode:
          type: string
          enum: [person, company]
        bankName:
          type: string
          description: Código de banco (3 caracteres para Chile)
        accountNumber:
          type: string
        payoutAccountTypeCode:
          type: string
        webhookUrl:
          type: string
          format: uri
        phone:
          type: string
        city:
          type: string
        address:
          type: string
        gender:
          type: string
        paymentReason:
          type: string

    ClOutboundTransactionResponse:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [processing, cancelled]

    ChileProviderError:
      type: object
      required: [error, code, type]
      description: Error cuando una operación de pago de Chile no puede completarse (sin detalles internos)
      properties:
        error:
          type: string
        code:
          type: string
        type:
          type: string

    OutboundTransactionRequest:
      type: object
      description: Solicitud para crear una transacción de salida (retiro) para cuentas BRL de Brasil
      required:
        - accountId
        - amount
        - name
        - keyType
        - keyPix
      properties:
        accountId:
          type: string
          format: uuid
        amount:
          type: number
          format: decimal
        name:
          type: string
          description: Nombre del destinatario
        keyType:
          type: string
          enum: [document, email, evp, phone, cnpj]
          description: Tipo de clave PIX (document=CPF, evp=clave aleatoria)
        keyPix:
          type: string
          description: Valor de la clave PIX (email, CPF, CNPJ, teléfono o clave aleatoria)
        webhookUrl:
          type: string
          format: uri

    OutboundTransactionResponse:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
          format: uuid
          description: ID de transacción HG.Cash
        status:
          type: string
          enum: [processing, cancelled]
          description: |
            - `processing`: El proveedor aceptó el retiro (HTTP 200). La transacción está siendo procesada.
            - `cancelled`: El proveedor rechazó o falló (no 200). La transacción fue marcada como cancelada.

    DirectTransactionStatus:
      type: object
      description: Estado de una transacción directa (entrante o saliente)
      properties:
        id:
          type: string
          format: uuid
        externalID:
          type: string
        status:
          type: string
          enum: [pending, done, expired, cancelled]
        direction:
          type: string
          enum: [Inbound, Outbound]
        amount:
          type: string
        currency:
          type: string

paths:
  /transactions:
    post:
      summary: Crear solicitud de transacción (Cash Out)
      description: |
        Crea una nueva solicitud de transacción desde una de sus cuentas. Esto no realiza una transferencia bancaria en cadena. Puede proporcionar un `webhookUrl` para recibir actualizaciones de estado.
        
        ## 📝 Campos obligatorios
        
        - `accountId`: ID de su cuenta a debitar
        - `toCBU` o `toCVU`: CBU/CVU bancario del destinatario (22 dígitos)
        - `amount`: Número decimal positivo
        - `webhookUrl` opcional: URL para recibir actualizaciones de estado
        
        ## 🔍 Reglas de validación
        
        - La cuenta debe pertenecer al usuario autenticado
        - El CBU debe ser un número válido de 22 dígitos
        - `externalID` opcional debe ser único por cuenta si se proporciona
        
      operationId: createTransactionRequest
      tags:
        - Transacciones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction'
            examples:
              basic_request_cbu:
                summary: Solicitud básica
                description: Campos mínimos obligatorios para una solicitud de transferencia de salida
                value:
                  accountId: "550e8400-e29b-41d4-a716-446655440123"
                  toCBU: "1100015400000000000021"
                  amount: 15000.50
              basic_request_cvu:
                summary: Solicitud básica con CVU
                description: Campos mínimos obligatorios usando destino CVU
                value:
                  accountId: "550e8400-e29b-41d4-a716-446655440123"
                  toCVU: "0000003100012345678901"
                  amount: 15000.50
              complete_request:
                summary: Solicitud completa con webhook
                description: Solicitud de transferencia de salida con metadatos opcionales y URL de webhook para actualizaciones de estado
                value:
                  accountId: "550e8400-e29b-41d4-a716-446655440123"
                  toCBU: "1100015400000000000021"
                  amount: 25000.00
                  toName: "María García"
                  toCUIT: 27987654321
                  concept: "Payment for consulting services"
                  externalDate: "2024-06-19T10:30:00Z"
                  coelsaCode: "COELSA123456"
                  data:
                    reference: "REF-001"
                    category: "services"
                    client_id: "CLIENT-789"
                  webhookUrl: "https://client.example.com/webhooks/transaction-request"
      responses:
        '201':
          description: Solicitud de transacción creada correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRequestResponse'
              examples:
                success:
                  summary: Creación exitosa
                  value:
                    id: "789e0123-e89b-12d3-a456-426614174999"
                    externalID: "REQ-2024-001234"
                    createdAt: "2024-06-19T10:30:00Z"
                    status: "PENDING"
        '400':
          description: Solicitud incorrecta - Datos proporcionados inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                validation_error:
                  summary: Error de validación
                  value:
                    error: "Validation failed"
                    message: "The provided data is invalid"
                    details:
                      amount: "Amount must be positive"
                      currency: "Currency must be 3 letters"
        '403':
          description: Prohibido - La cuenta no pertenece al usuario autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                forbidden_account:
                  summary: Acceso a cuenta denegado
                  value:
                    error: "You do not have access to this account"
        '409':
          description: Conflicto - No se puede crear la solicitud
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                duplicate_external_id:
                  summary: ID externo duplicado
                  value:
                    error: "Transaction request with this external ID already exists for this account"
                    code: "DUPLICATE_EXTERNAL_ID"
                    message: "The provided externalID already exists for this account"
                insufficient_net_balance:
                  summary: Saldo neto insuficiente
                  description: Rechazado porque el saldo neto (saldo - comisiones pendientes) es inferior al monto solicitado
                  value:
                    error: "Insufficient net balance"
                    code: "INSUFFICIENT_NET_BALANCE"
                    message: "Net available balance (balance - pending fees) is not enough to cover the requested amount"
                    details:
                      accountId: "550e8400-e29b-41d4-a716-446655440123"
                      currency: "ARS"
                      amount: 15000.5
                      balance: 12000
                      pendingFees: 2000
                      netBalance: 10000
        '401':
          description: No autorizado - Token inválido o ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_token:
                  summary: Token ausente
                  value:
                    error: "Authentication required"
                    message: "Bearer token is required"
                invalid_token:
                  summary: Token inválido
                  value:
                    error: "Invalid token"
                    message: "The provided token is invalid or expired"
        '404':
          description: No encontrado
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                server_error:
                  summary: Error del servidor
                  value:
                    error: "Internal server error"
                    message: "An unexpected error occurred"

  /transaction/{id}/status:
    get:
      summary: Consultar estado de solicitud de transacción
      description: |
        Obtiene el estado de una solicitud de transacción creada mediante `/transactions`.
        Requiere el token bearer del usuario que creó la solicitud.
      operationId: getTransactionRequestStatus
      tags:
        - Transacciones
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la solicitud de transacción
      responses:
        '200':
          description: Estado obtenido
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  externalID:
                    type: string
                    nullable: true
                  status:
                    type: string
                    enum: [PENDING, AWAITING_REVIEW, PROCESSING, DONE, ERROR, CANCELLED]
                  errorMessage:
                    type: string
                    nullable: true
                  errorCode:
                    type: string
                    nullable: true
                    enum: [INSUFFICIENT_BALANCE, DESTINATION_ERROR]
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
        '401':
          description: No autorizado
        '404':
          description: No encontrado
        '500':
          description: Error interno del servidor

  /checkouts:
    post:
      summary: Crear sesión de checkout
      description: |
        Crea un checkout hospedado para AR (transferencia + DNI), BR (QR PIX), CL (iframe del proveedor) o BO (pago QR).
        Devuelve `checkoutUrl` para el pagador y campos opcionales del proveedor (QR, URL iframe).
      operationId: createCheckout
      tags: [Checkouts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutRequest'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCheckoutResponse'
        '400':
          description: Error de validación
        '401':
          description: No autorizado
        '403':
          description: Prohibido — la cuenta no está operativa (`Bloqueada` o `Cerrada`) o el solicitante no tiene acceso
        '500':
          description: Error interno del servidor
    get:
      summary: Listar checkouts
      operationId: listCheckouts
      tags: [Checkouts]
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: country
          in: query
          schema:
            type: string
            enum: [AR, BR, CL, BO]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Correcto
        '401':
          description: No autorizado

  /checkouts/{id}:
    get:
      summary: Obtener checkout
      operationId: getCheckout
      tags: [Checkouts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Correcto
        '404':
          description: No encontrado

  /checkouts/{id}/cancel:
    post:
      summary: Cancelar checkout pendiente
      operationId: cancelCheckout
      tags: [Checkouts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Correcto

  /checkouts/{id}/receipt:
    get:
      summary: Obtener URL de descarga del comprobante de checkout
      operationId: getCheckoutReceipt
      tags: [Checkouts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: URL firmada del comprobante subido
        '404':
          description: No encontrado

  /br/transactions/inbound:
    post:
      summary: Crear transacción entrante (Brasil)
      description: |
        Crea una transacción entrante para recibir un pago. Devuelve un código QR para que el pagador lo escanee.
        La cuenta debe ser de Brasil (BRL). La transacción inicia en estado `pending` hasta confirmarse el pago.
      operationId: createBrInboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundTransactionRequest'
      tags:
        - Brasil
      responses:
        '201':
          description: Transacción creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundTransactionResponse'
        '400':
          description: Solicitud incorrecta
        '401':
          description: No autorizado
        '403':
          description: Prohibido — la cuenta no está operativa (`Bloqueada` o `Cerrada`) o el solicitante no tiene acceso
        '404':
          description: Cuenta no encontrada
        '502':
          description: Error del proveedor de pagos o respuesta inválida del proveedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrazilProviderError'

  /br/transactions/outbound:
    post:
      summary: Crear transacción saliente (Brasil)
      description: |
        Crea una transacción de salida (retiro) desde una cuenta de Brasil (BRL).
        Requiere saldo neto suficiente. La transacción inicia en estado `processing`.
      operationId: createBrOutboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundTransactionRequest'
      tags:
        - Brasil
      responses:
        '201':
          description: |
            Transacción creada. Devuelve `status: processing` cuando el proveedor aceptó el retiro (HTTP 200).
            Devuelve `status: cancelled` cuando el proveedor rechazó o falló (no 200); la transacción se almacena y se marca como cancelada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundTransactionResponse'
        '400':
          description: Solicitud incorrecta
        '401':
          description: No autorizado
        '403':
          description: Prohibido — la cuenta no está operativa (`Bloqueada` o `Cerrada`) o el solicitante no tiene acceso
        '404':
          description: Cuenta no encontrada
        '409':
          description: Saldo insuficiente

  /br/transactions/{id}/status:
    get:
      summary: Consultar estado de transacción (Brasil)
      description: |
        Obtiene el estado actual de una transacción directa (entrante o saliente).
        Distinto de `GET /transaction/{id}/status`, que devuelve el estado de TransactionRequest.
      operationId: getBrTransactionStatus
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la transacción
      tags:
        - Brasil
      responses:
        '200':
          description: Estado de la transacción
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectTransactionStatus'
        '401':
          description: No autorizado
        '404':
          description: Transacción no encontrada
        '502':
          description: Error del proveedor de pagos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrazilProviderError'

  /cl/payment-methods:
    get:
      summary: Listar métodos de pago (Chile)
      description: |
        Devuelve los métodos de pago activos disponibles para cash-in en Chile (CLP).
        Los métodos se habilitan cuando su cuenta CLP de Chile está provisionada para checkout hospedado.
      operationId: listClPaymentMethods
      parameters:
        - in: query
          name: type
          schema:
            type: string
            enum: [BANK_TRANSFER, CASH, WALLET, CREDIT_CARD]
      tags:
        - Chile
      responses:
        '200':
          description: Métodos de pago
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClPaymentMethodsResponse'
        '400':
          description: Solicitud incorrecta
        '401':
          description: No autorizado

  /cl/transactions/inbound:
    post:
      summary: Crear transacción entrante (Chile)
      description: |
        Crea una transacción entrante y recibe una URL de checkout hospedado.
        La cuenta debe ser CLP de Chile. Inicia en `pending` hasta que se complete el pago.
      operationId: createClInboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClInboundTransactionRequest'
      tags:
        - Chile
      responses:
        '201':
          description: Transacción creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClInboundTransactionResponse'
        '400':
          description: Solicitud incorrecta
        '401':
          description: No autorizado
        '403':
          description: Prohibido — la cuenta no está operativa (`Bloqueada` o `Cerrada`) o el solicitante no tiene acceso
        '404':
          description: Cuenta o método de pago no encontrado
        '502':
          description: No se pudo completar la operación de pago
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChileProviderError'

  /cl/transactions/outbound:
    post:
      summary: Crear transacción saliente (Chile)
      description: |
        Crea un payout bancario desde una cuenta CLP de Chile. Requiere saldo neto suficiente.
        La transacción inicia en `processing`.
      operationId: createClOutboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClOutboundTransactionRequest'
      tags:
        - Chile
      responses:
        '201':
          description: Transacción creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClOutboundTransactionResponse'
        '400':
          description: Solicitud incorrecta
        '401':
          description: No autorizado
        '403':
          description: Prohibido — la cuenta no está operativa (`Bloqueada` o `Cerrada`) o el solicitante no tiene acceso
        '404':
          description: Cuenta no encontrada
        '409':
          description: Saldo insuficiente
        '502':
          description: No se pudo completar la operación de pago
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChileProviderError'

  /cl/transactions/{id}/status:
    get:
      summary: Consultar estado de transacción (Chile)
      description: |
        Obtiene el último estado de una transacción directa de Chile (entrante o saliente)
        y actualiza HG.Cash cuando ha cambiado.
      operationId: getClTransactionStatus
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      tags:
        - Chile
      responses:
        '200':
          description: Estado de la transacción
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/DirectTransactionStatus'
                  - type: object
                    properties:
                      providerStatus:
                        type: string
                        description: Detalle de estado complementario al consultar (opcional)
        '401':
          description: No autorizado
        '404':
          description: Transacción no encontrada
        '502':
          description: No se pudo completar la operación de pago
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChileProviderError'

  /bo/banks:
    get:
      summary: Listar bancos (ACH Bolivia)
      description: Devuelve los bancos disponibles para payouts ACH salientes en Bolivia.
      operationId: listBoBanks
      parameters:
        - in: query
          name: country
          schema:
            type: string
            default: BO
      tags:
        - Bolivia
      responses:
        '200':
          description: Lista de bancos
          content:
            application/json:
              schema:
                type: object
                properties:
                  banks:
                    type: array
                    items:
                      type: object
                      properties:
                        code: { type: string }
                        name: { type: string }
        '401':
          description: No autorizado
        '500':
          description: Error interno del servidor

  /bo/transactions/inbound:
    post:
      summary: Crear transacción entrante (Bolivia)
      description: |
        Crea una transacción entrante en BOB y devuelve un código QR (imagen base64) para el pagador.
        La cuenta debe usar moneda BOB y país BO.
      operationId: createBoInboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountId, amount]
              properties:
                accountId: { type: string, format: uuid }
                amount: { type: number }
                description: { type: string, maxLength: 60 }
                webhookUrl: { type: string, format: uri }
      tags:
        - Bolivia
      responses:
        '201':
          description: Transacción creada
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  qrCode: { type: string, description: Imagen QR en base64 }
                  status: { type: string }
        '403':
          description: Prohibido — la cuenta no está operativa (`Bloqueada` o `Cerrada`) o el solicitante no tiene acceso
        '404':
          description: Cuenta no encontrada
        '502':
          description: Error del proveedor de pagos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoliviaProviderError'

  /bo/transactions/outbound:
    post:
      summary: Crear transacción saliente (ACH Bolivia)
      description: |
        Crea una transferencia bancaria saliente en BOB desde una cuenta BOB.
        Requiere saldo suficiente para el monto más la comisión de salida.
      operationId: createBoOutboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accountId
                - amount
                - firstName
                - lastName
                - documentType
                - documentNumber
                - entityType
                - bankCode
                - destinationAccount
              properties:
                accountId: { type: string, format: uuid }
                amount: { type: number }
                firstName: { type: string }
                lastName: { type: string }
                documentType:
                  type: string
                  enum: [national_id, tax_id, passport, foreign_id]
                documentNumber: { type: string }
                entityType:
                  type: string
                  enum: [individual, company]
                bankCode: { type: string }
                destinationAccount: { type: string }
                description: { type: string, maxLength: 200 }
                webhookUrl: { type: string, format: uri }
      tags:
        - Bolivia
      responses:
        '201':
          description: Transacción encolada para procesamiento
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  status: { type: string }
        '403':
          description: Prohibido — la cuenta no está operativa (`Bloqueada` o `Cerrada`) o el solicitante no tiene acceso
        '404':
          description: Cuenta no encontrada
        '409':
          description: Saldo insuficiente

  /bo/transactions/{id}/status:
    get:
      summary: Consultar estado de transacción (Bolivia)
      operationId: getBoTransactionStatus
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      tags:
        - Bolivia
      responses:
        '200':
          description: Estado de la transacción
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/DirectTransactionStatus'
                  - type: object
                    properties:
                      providerStatus: { type: string }
        '502':
          description: Error del proveedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoliviaProviderError'

  /transactions/{id}/receipt:
    get:
      summary: Obtener comprobante de transacción
      description: |
        Genera un comprobante PDF de una transacción y devuelve una URL firmada para descargarlo.
        El comprobante se genera y se almacena en caché para solicitudes posteriores.
        La URL firmada expira después de 1 hora.
      operationId: getTransactionReceipt
      tags:
        - Transacciones
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la transacción (la transacción bancaria real, no la solicitud)
      responses:
        '200':
          description: URL firmada para descargar el comprobante PDF
          content:
            application/json:
              schema:
                type: object
                required:
                  - signedUrl
                properties:
                  signedUrl:
                    type: string
                    format: uri
                    description: URL firmada temporal para descargar el comprobante PDF (expira en 1 hora)
        '401':
          description: No autorizado
        '404':
          description: Transacción no encontrada
        '500':
          description: Error interno del servidor

  /transaction-requests/{id}/transaction-id:
    get:
      summary: Obtener ID de transacción para solicitud
      description: |
        Obtiene el ID de Transaction vinculado a una solicitud de transacción.
        Devuelve el ID de la transacción bancaria real una vez que la solicitud ha sido procesada (estado DONE).
        Devuelve `null` si la transacción aún no ha sido vinculada (p. ej. aún PENDING o PROCESSING).
      operationId: getTransactionIdForRequest
      tags:
        - Transacciones
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la solicitud de transacción
      responses:
        '200':
          description: ID de transacción vinculado (o null si aún no está disponible)
          content:
            application/json:
              schema:
                type: object
                required:
                  - transactionId
                properties:
                  transactionId:
                    type: string
                    format: uuid
                    nullable: true
                    description: El ID de Transaction vinculado a esta solicitud, o null si aún no se procesó
        '401':
          description: No autorizado
        '404':
          description: Solicitud de transacción no encontrada
        '500':
          description: Error interno del servidor

  /alias-lookup:
    post:
      summary: Consultar CVU o alias
      description: |
        Consulta información del beneficiario por CVU (22 dígitos) o alias.
        Devuelve alias, CUIT, CVU, nombre y tipo de persona.

        **Servicio de pago**: Este endpoint es una función de pago. Su uso puede generar cargos. Consulte a su contador o al equipo de facturación de HG.Cash para conocer los precios.
      operationId: aliasLookup
      tags:
        - Datos de referencia
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AliasLookupRequest'
            examples:
              by_alias:
                summary: Consulta por alias
                value:
                  alias: "miempresa.cbu"
              by_cvu:
                summary: Consulta por CVU
                value:
                  alias: "0000003100012345678901"
      responses:
        '200':
          description: Información del beneficiario encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasLookupResponse'
        '400':
          description: Solicitud incorrecta - Entrada inválida o no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                not_found:
                  summary: no encontrado
                  value:
                    error: "Not found"
                    message: "No information found for this CVU or alias"
        '401':
          description: No autorizado - Token inválido o ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Prohibido - El usuario no tiene acceso al servicio de consulta de alias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                service_not_enabled:
                  summary: Servicio no habilitado
                  value:
                    error: "Access denied"
                    code: "ALIAS_LOOKUP_NOT_ENABLED"
                    message: "This user does not have access to the alias lookup service. Contact your administrator."
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts:
    get:
      summary: Obtener cuentas del usuario
      description: |
        Devuelve las cuentas del usuario autenticado, incluyendo saldo del libro mayor, comisiones pendientes,
        saldo neto disponible (saldo menos comisiones pendientes) y estado de la cuenta.
      operationId: getUserAccounts
      tags:
        - Cuentas
      responses:
        '200':
          description: Lista de cuentas
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        balance:
                          type: number
                          description: Saldo del libro mayor de la cuenta redondeado a 2 decimales
                        pendingFees:
                          type: number
                          description: Comisiones acumuladas pero aún no cobradas, redondeadas a 2 decimales
                        netBalance:
                          type: number
                          description: Saldo disponible después de comisiones pendientes (saldo menos comisiones pendientes), redondeado a 2 decimales
                        status:
                          type: string
                          description: Estado del ciclo de vida de la cuenta
                          enum:
                            - Operativa
                            - Bloqueada
                            - Cerrada
                        currency:
                          type: string
                        number:
                          type: string
                        alias:
                          type: string
                          nullable: true
                        platform:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                        company:
                          type: object
                          nullable: true
                          description: Empresa a la que pertenece la cuenta (opcional)
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                  count:
                    type: integer
        '401':
          description: No autorizado
        '500':
          description: Error interno del servidor

  /account/{id}/balance:
    get:
      summary: Obtener saldo de cuenta
      description: |
        Devuelve el saldo, comisiones pendientes, saldo neto disponible, moneda y estado de la cuenta
        del usuario autenticado por ID.
      operationId: getAccountBalance
      tags:
        - Cuentas
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la cuenta
      responses:
        '200':
          description: Saldo de la cuenta
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  balance:
                    type: number
                    description: Saldo del libro mayor de la cuenta redondeado a 2 decimales
                  currency:
                    type: string
                  pendingFees:
                    type: number
                    description: Comisiones acumuladas pero aún no cobradas, redondeadas a 2 decimales
                  netBalance:
                    type: number
                    description: Saldo disponible después de comisiones pendientes (saldo menos comisiones pendientes), redondeado a 2 decimales
                  status:
                    type: string
                    description: Estado del ciclo de vida de la cuenta
                    enum:
                      - Operativa
                      - Bloqueada
                      - Cerrada
        '401':
          description: No autorizado
        '404':
          description: No encontrado
        '500':
          description: Error interno del servidor

  /transaction-statuses:
    get:
      summary: Obtener estados de transacción
      description: |
        Obtiene todos los estados de transacción disponibles.
        
        Use los IDs devueltos con fines informativos.
        
        ## 📋 Estados comunes
        
        - **processing**: La transacción está siendo procesada
        - **done**: La transacción se completó correctamente
        - **failed**: Falló el procesamiento de la transacción
        
      operationId: getTransactionStatuses
      tags:
        - Datos de referencia
      responses:
        '200':
          description: Lista de estados de transacción
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransactionStatus'
              examples:
                statuses:
                  summary: Estados de transacción
                  value:
                    success: true
                    data:
                      - id: "550e8400-e29b-41d4-a716-446655440000"
                        name: "pending"
                        description: "La transacción está pendiente de procesamiento"
                      - id: "550e8400-e29b-41d4-a716-446655440001"
                        name: "completed"
                        description: "La transacción se completó correctamente"
                      - id: "550e8400-e29b-41d4-a716-446655440002"
                        name: "failed"
                        description: "Falló el procesamiento de la transacción"
        '401':
          description: No autorizado - Token inválido o ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_token:
                  summary: Token ausente
                  value:
                    success: false
                    error: "Authentication required"
                    message: "Bearer token is required"
                invalid_token:
                  summary: Token inválido
                  value:
                    success: false
                    error: "Invalid token"
                    message: "The provided token is invalid or expired"
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /transaction-types:
    get:
      summary: Obtener tipos de transacción
      description: |
        Obtiene todos los tipos de transacción disponibles.
        
        Use los IDs devueltos en el campo `typeID` al crear transacciones.
        
        ## 📋 Tipos comunes
        
        - **transfer**: Transferencia bancaria
        - **payment**: Transacción de pago
        - **deposit**: Depósito de dinero
        - **withdrawal**: Retiro de dinero
        
      operationId: getTransactionTypes
      tags:
        - Datos de referencia
      responses:
        '200':
          description: Lista de tipos de transacción
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransactionType'
              examples:
                types:
                  summary: Tipos de transacción
                  value:
                    success: true
                    data:
                      - id: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
                        name: "transfer"
                        description: "Transacción de transferencia bancaria"
                      - id: "6ba7b810-9dad-11d1-80b4-00c04fd430c9"
                        name: "payment"
                        description: "Transacción de pago"
                      - id: "6ba7b810-9dad-11d1-80b4-00c04fd430ca"
                        name: "deposit"
                        description: "Transacción de depósito de dinero"
        '401':
          description: No autorizado - Token inválido o ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_token:
                  summary: Token ausente
                  value:
                    success: false
                    error: "Authentication required"
                    message: "Bearer token is required"
                invalid_token:
                  summary: Token inválido
                  value:
                    success: false
                    error: "Invalid token"
                    message: "The provided token is invalid or expired"
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

webhooks:
  transaction-request-status-updated:
    post:
      summary: Estado de solicitud de transacción actualizado
      description: |
        HG.Cash enviará este webhook cuando cambie el estado de una solicitud de transacción. El cuerpo de la solicitud contiene los detalles de la solicitud y el estado actual.
        Puede proporcionar un `webhookUrl` en la carga de creación, o configurar uno predeterminado en la configuración del usuario.
      operationId: transactionRequestStatusUpdatedWebhook
      tags:
        - Webhooks
      security:
        - webhookHmac: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequestStatusWebhook'
            examples:
              example:
                summary: Ejemplo de carga
                value:
                  topic: "TRANSACTION_REQUEST"
                  eventType: "status_change"
                  id: "789e0123-e89b-12d3-a456-426614174999"
                  externalID: "REQ-2024-001234"
                  amount: "15000.50"
                  currency: "ARS"
                  direction: "Inbound"
                  status: "PENDING"
                  type: "request"
                  accountId: "550e8400-e29b-41d4-a716-446655440123"
                  date: "2024-06-19T10:30:00"
                  timezone: "America/Argentina/Buenos_Aires"
                  fromName: "Juan Pérez"
                  toName: "María García"
                  fromCBU: "1700015400000000000010"
                  toCBU: "1100015400000000000021"
                  error: "Insufficient funds on destination account"
                  fromCUIT: "20123456789"
                  toCUIT: "27987654321"
                  concept: "Payment for services"
                  coelsaCode: "COELSA123456"
  transaction-request-associated:
    post:
      summary: Solicitud de transacción asociada a transacción
      description: |
        HG.Cash envía este webhook cuando una solicitud de transacción de salida se vincula a su
        transacción correspondiente del libro mayor (después del procesamiento Urbana). El cuerpo coincide con
        `TransactionRequestStatusWebhook`, usa `topic` `TRANSACTION_REQUEST`, `eventType`
        `transaction_associated`, e incluye `transactionId`.
      operationId: transactionRequestAssociatedWebhook
      tags:
        - Webhooks
      security:
        - webhookHmac: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/TransactionRequestStatusWebhook'
                - type: object
                  required:
                    - transactionId
                  properties:
                    transactionId:
                      type: string
                      format: uuid
            examples:
              example:
                summary: Solicitud vinculada a transacción del libro mayor
                value:
                  topic: "TRANSACTION_REQUEST"
                  eventType: "transaction_associated"
                  id: "789e0123-e89b-12d3-a456-426614174999"
                  externalID: "REQ-2024-001234"
                  amount: "15000.50"
                  currency: "ARS"
                  direction: "Outbound"
                  status: "DONE"
                  type: "request"
                  accountId: "550e8400-e29b-41d4-a716-446655440123"
                  transactionId: "040eac5b-a998-4879-9d8a-05fd2a08c625"
                  date: "2024-06-19T10:30:00"
                  timezone: "America/Argentina/Buenos_Aires"
                  coelsaCode: "COELSA123456"
  account-movement:
    post:
      summary: Movimiento de cuenta
      description: |
        HG.Cash enviará este webhook cada vez que entre o salga dinero de una de sus cuentas. El cuerpo de la solicitud contiene los detalles del movimiento.
        
        Úselo para mantener sus saldos internos y libros contables sincronizados con HG.Cash.
      operationId: accountMovementWebhook
      tags:
        - Webhooks
      security:
        - webhookHmac: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountMovementWebhook'
            examples:
              example:
                summary: Ejemplo de carga de movimiento de cuenta
                value:
                  topic: "TRANSACTION"
                  eventType: "created"
                  id: "040eac5b-a998-4879-9d8a-05fd2a08c625"
                  externalID: "E-67REZ8NPQDQ460QK94KVGO-2026-01-14 09:17:21"
                  amount: "12000"
                  currency: "ARS"
                  direction: "Inbound"
                  status: "hecha"
                  type: "inbound"
                  date: "2026-01-14T09:17:21"
                  timezone: "America/Argentina/Buenos_Aires"
                  fromName: "Jose Angel Gallucci"
                  toName: "MUNDO OFERTA IMPORTACIONES S.A"
                  fromCBU: "0000003100117987328844"
                  toCBU: "0000151500037626120131"
                  fromCUIT: "20125680667"
                  toCUIT: "30718891813"
                  coelsaCode: "67REZ8NPQDQ460QK94KVGO"
                  accountId: "843d9d8b-6db8-47a2-8c22-23b198e99c15"
  checkout-completed:
    post:
      summary: Evento de checkout
      description: |
        HG.Cash envía este webhook cuando una sesión de checkout hospedado se completa, requiere revisión manual o es rechazada.
        Configure `webhookUrl` al crear o use su URL de webhook predeterminada en Configuración.
      operationId: checkoutEventWebhook
      tags:
        - Webhooks
      security:
        - webhookHmac: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCheckoutPayload'
            examples:
              completed:
                summary: Checkout completado
                value:
                  topic: "CHECKOUT"
                  eventType: "checkout.completed"
                  id: "550e8400-e29b-41d4-a716-446655440000"
                  status: "completed"
                  event: "checkout.completed"
                  amount: "1500.00"
                  currency: "ARS"
                  country: "AR"
                  transactionId: "789e0123-e89b-12d3-a456-426614174999"
                  metadata: { orderId: "ORD-42" }
                  completedAt: "2026-06-05T12:00:00.000Z"
tags:
  - name: Transacciones
    description: "Gestión de transacciones - Crear y administrar transacciones en el sistema HG.Cash. Todos los endpoints de transacciones requieren autenticación."
  - name: Cuentas
    description: "Cuentas - Obtener información de cuentas y saldos del usuario autenticado. Todos los endpoints de cuentas requieren autenticación."
  - name: Datos de referencia
    description: "Datos de referencia - Obtener datos de referencia como estados y tipos de transacción. Estos endpoints requieren autenticación."
  - name: Webhooks
    description: "Webhooks - Notificaciones de eventos enviadas a su endpoint HTTP."
  - name: Brasil
    description: "Brasil — Crear y consultar transacciones PIX (BRL)."
  - name: Chile
    description: "Chile — Checkout hospedado y payouts bancarios (CLP)."
  - name: Bolivia
    description: "Bolivia — Cash-in con QR y payouts ACH (BOB)."
  - name: Checkouts
    description: "Sesiones de checkout hospedado para AR, BR, CL y BO"