openapi: 3.1.0
info:
  title: HG.Cash API
  description: |
    # 🚀 API de transações HG.Cash
    
    API REST moderna para usuários criarem transações de saída a partir de suas contas.
    
    ## 🧾 Como funciona
    
    - A HG.Cash atribui contas ao seu usuário
    - Quando essas contas têm movimentação (entrada ou saída), a HG.Cash notifica o seu backend usando a URL de webhook configurada no painel
    - **Assinatura de webhooks (HMAC)**: Nas configurações da conta é possível gerar um segredo de assinatura. Quando configurado, cada POST de webhook inclui o cabeçalho `X-HG-Webhook-Signature: sha256=<hex>` com HMAC-SHA256 do corpo JSON usando o seu segredo. Verifique no seu endpoint para garantir autenticidade.
    - Para criar saques é necessário chamar o endpoint **Cash Out**: **Criar solicitação de transação** (`POST /transactions`)
    
    ## 📊 Primeiros passos
    
    1. **Gere seu token de API** na página de configurações da conta
    2. **Teste os endpoints** com a documentação interativa
    3. **Implemente** nos seus serviços de backend (nunca exponha tokens no frontend)
    4. **Monitore** a integração e trate erros adequadamente

    ## 🔐 Autenticação
    
    Esta API usa autenticação **Bearer Token**. Inclua o token de API do usuário no cabeçalho Authorization, por exemplo `Authorization: Bearer cash_your_token_here`.
    
    ## ⚠️ Segurança
    
    - Não compartilhe nem exponha o token de autenticação da API
    - Armazene tokens apenas em servidores backend seguros
    - Todas as chamadas devem ser feitas a partir de backends seguros
    - Se o token for comprometido, entre em contato com os administradores imediatamente
    
  version: 1.0.0
  contact:
    name: HG.Cash API Support
    email: api-support@hg.cash
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://hg.cash/api/v1
    description: Servidor de produção
  - url: http://dev.hg.cash/api/v1
    description: Servidor de desenvolvimento

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Token de autenticação da API do usuário com o formato `cash_<64-char-hex>`.
        Valor de exemplo `cash_16cdc3b6f83c72d9d2680adca4f430962981f6bf32613a129dded0aa060387d2`.
    webhookHmac:
      type: apiKey
      in: header
      name: X-HG-Webhook-Signature
      description: |
        Assinatura HMAC-SHA256 do corpo JSON bruto. Formato: `sha256=<hex>`.
        Quando você configura um segredo de assinatura de webhook nas configurações da conta, a HG.Cash inclui
        este cabeçalho em cada POST de webhook. Verifique a assinatura no seu endpoint para garantir que a requisição é autêntica.

  schemas:
    Transaction:
      type: object
      description: Solicitação de criação de transação de saída por um usuário
      required:
        - accountId
        - amount
      properties:
        accountId:
          type: string
          format: uuid
          description: ID da conta do usuário de onde enviar os fundos
          example: "550e8400-e29b-41d4-a716-446655440123"
        fromName:
          type: string
          description: Nome do remetente da transação
          example: "Juan Pérez"
          maxLength: 255
        toName:
          type: string
          description: Nome do destinatário da transação
          example: "María García"
          maxLength: 255
        fromCBU:
          type: number
          description: CBU (número da conta bancária) do remetente
          example: 170001540000000000001
        toCBU:
          type: string
          description: CBU do destinatário (22 dígitos). Informe toCBU ou toCVU.
          example: "1100015400000000000021"
        toCVU:
          type: string
          description: CVU do destinatário (22 dígitos). Informe toCBU ou toCVU.
          example: "0000003100012345678901"
        amount:
          type: number
          format: decimal
          description: Valor da transação (deve ser positivo)
          example: 15000.50
        fromCUIT:
          type: number
          description: CUIT/CUIL do remetente
          example: 20123456789
        toCUIT:
          type: number
          description: CUIT/CUIL do destinatário
          example: 27987654321
        concept:
          type: string
          description: Conceito ou descrição da transação
          example: "Payment for services"
          maxLength: 500
        externalDate:
          type: string
          format: date-time
          description: Data da transação no seu sistema (formato ISO 8601)
          example: "2024-06-19T10:30:00Z"
        coelsaCode:
          type: string
          description: Código de transação Coelsa
          example: "COELSA123456"
          maxLength: 100
        data:
          type: object
          description: Dados JSON adicionais da transação
          example: 
            reference: "REF-001"
            category: "services"
            metadata:
              source: "mobile_app"
              version: "1.2.3"
        webhookUrl:
          type: string
          format: uri
          description: URL de webhook opcional para receber atualizações de status desta solicitação
          example: "https://client.example.com/webhooks/transaction-request"

    TransactionRequestResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID interno da solicitação de transação
          example: "789e0123-e89b-12d3-a456-426614174999"
        externalID:
          type: string
          example: "REQ-2024-001234"
        createdAt:
          type: string
          format: date-time
          example: "2024-06-19T10:30:00Z"
        status:
          type: string
          enum: [PENDING, AWAITING_REVIEW, PROCESSING, DONE, ERROR, CANCELLED]
          example: "PENDING"

    TransactionStatus:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          example: "pending"
        description:
          type: string
          example: "A transação está pendente de processamento"

    TransactionType:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
        name:
          type: string
          example: "transfer"
        description:
          type: string
          example: "Transação de transferência bancária"

    AliasLookupRequest:
      type: object
      required:
        - alias
      properties:
        alias:
          type: string
          description: CVU (22 dígitos) ou alias a consultar
          example: "miempresa.cbu"
    AliasLookupResponse:
      type: object
      properties:
        alias:
          type: string
          nullable: true
          description: Alias da conta
        cuit:
          type: string
          nullable: true
          description: CUIT/CUIL do titular da conta
        cvu:
          type: string
          description: CVU (22 dígitos)
        nombre:
          type: string
          nullable: true
          description: Nome do titular da conta
        tipoPersona:
          type: string
          nullable: true
          description: Tipo de pessoa
    ErrorResponse:
      type: object
      description: Payload de erro retornado pela API.
      additionalProperties: true
      required:
        - error
      properties:
        error:
          type: string
          example: "Invalid request"
        code:
          type: string
          description: Código de erro legível por máquina (quando disponível)
          example: "INSUFFICIENT_NET_BALANCE"
        message:
          type: string
          example: "The provided data is invalid"
        details:
          type: object
          description: Detalhes adicionais do erro
          example:
            field: "amount"
            code: "INVALID_VALUE"

    TransactionRequestStatusWebhook:
      type: object
      description: |
        Payload enviado ao seu endpoint de webhook quando o status de uma solicitação de transação muda.
        
        **Cabeçalhos:** Quando você configura um segredo de assinatura de webhook nas configurações da conta, a HG.Cash envia o cabeçalho `X-HG-Webhook-Signature: sha256=<hex>`, em que o valor é HMAC-SHA256 do corpo JSON bruto usando o seu segredo. Verifique isso para garantir que a requisição é autêntica.
        
        Observações:
        - Valores numéricos (como `amount`, CBU/CUIT) são enviados como strings para preservar precisão e formatação.
        - `date` é uma data-hora local e deve ser interpretada usando `timezone`.
        - Configure a URL do webhook na página de configurações da conta.
      required:
        - id
        - externalID
        - amount
        - currency
        - direction
        - status
        - type
        - accountId
        - date
        - timezone
        - topic
        - eventType
      properties:
        topic:
          type: string
          description: Tópico do webhook para roteamento (sempre `TRANSACTION_REQUEST` para webhooks de solicitação de transação)
          enum: [TRANSACTION_REQUEST]
          example: "TRANSACTION_REQUEST"
        eventType:
          type: string
          description: Tipo de evento dentro do tópico
          enum: [status_change, transaction_associated]
          example: "status_change"
        id:
          type: string
          format: uuid
          description: ID interno da transação
          example: "789e0123-e89b-12d3-a456-426614174999"
        externalID:
          type: string
          description: ID externo informado ao criar a transação
          example: "TXN-2024-001234"
        amount:
          type: string
          description: Valor da transação como string decimal
          example: "15000.50"
        currency:
          type: string
          description: Código de moeda ISO 4217
          pattern: "^[A-Z]{3}$"
          example: "ARS"
        direction:
          type: string
          enum: [Inbound, Outbound]
          description: Direção da transação
          example: "Inbound"
        status:
          type: string
          description: Status atual da solicitação de transação
          enum: [PENDING, AWAITING_REVIEW, PROCESSING, DONE, ERROR, CANCELLED]
          example: "PENDING"
        type:
          type: string
          description: Tipo de notificação. Sempre "request" para solicitações de transação
          example: "request"
        accountId:
          type: string
          format: uuid
          description: ID da conta HG.Cash associada à transação
          example: "550e8400-e29b-41d4-a716-446655440123"
        date:
          type: string
          format: date-time
          description: Data-hora local da transação no fuso horário informado
          example: "2024-06-19T10:30:00"
        timezone:
          type: string
          description: Identificador de fuso horário IANA usado para interpretar `date`
          example: "America/Argentina/Buenos_Aires"
        error:
          type: string
          description: Mensagem de erro opcional quando o status é ERROR
          example: "Insufficient funds on destination account"
        errorCode:
          type: string
          description: Código de erro legível por máquina quando o status é ERROR
          enum: [INSUFFICIENT_BALANCE, DESTINATION_ERROR]
          example: "INSUFFICIENT_BALANCE"
        fromName:
          type: string
          description: Nome do remetente
          example: "Juan Pérez"
        toName:
          type: string
          description: Nome do destinatário
          example: "María García"
        fromCBU:
          type: string
          description: CBU do remetente (22 dígitos). Enviado como string.
          pattern: "^\\d{22}$"
          example: "1700015400000000000010"
        toCBU:
          type: string
          description: CBU do destinatário (22 dígitos). Enviado como string.
          pattern: "^\\d{22}$"
          example: "1100015400000000000021"
        toCVU:
          type: string
          description: CVU do destinatário (22 dígitos). Enviado como string.
          pattern: "^\\d{22}$"
          example: "0000003100012345678901"
        fromCUIT:
          type: string
          description: CUIT/CUIL do remetente (11 dígitos). Enviado como string.
          pattern: "^\\d{11}$"
          example: "20123456789"
        toCUIT:
          type: string
          description: CUIT/CUIL do destinatário (11 dígitos). Enviado como string.
          pattern: "^\\d{11}$"
          example: "27987654321"
        concept:
          type: string
          description: Conceito ou descrição da transação
          example: "Payment for services"
        coelsaCode:
          type: string
          description: Código de transação Coelsa
          example: "COELSA123456"
        data:
          type: object
          description: Metadados JSON opcionais da solicitação de transação
        isSecurityFlagged:
          type: boolean
          description: Quando true, a solicitação foi retida para revisão de segurança antes do processamento
        securityFlagReason:
          type: string
          description: Motivo opcional legível por máquina quando sinalizada para revisão de segurança
        transactionId:
          type: string
          format: uuid
          description: ID da transação no ledger vinculada (incluído em webhooks transaction_associated)
    AccountMovementWebhook:
      type: object
      description: |
        Payload enviado ao seu endpoint de webhook sempre que dinheiro entra ou sai de uma das suas contas HG.Cash.
        
        **Cabeçalhos:** Quando você configura um segredo de assinatura de webhook nas configurações da conta, a HG.Cash envia o cabeçalho `X-HG-Webhook-Signature: sha256=<hex>`, em que o valor é HMAC-SHA256 do corpo JSON bruto usando o seu segredo. Verifique isso para garantir que a requisição é autêntica.
        
        Observações:
        - Valores numéricos (como `amount`, CBU/CUIT) são enviados como strings para preservar precisão e formatação.
        - `date` é uma data-hora local e deve ser interpretada usando `timezone`.
      required:
        - id
        - externalID
        - amount
        - currency
        - direction
        - status
        - type
        - accountId
        - date
        - timezone
        - topic
        - eventType
      properties:
        topic:
          type: string
          description: Tópico do webhook para roteamento
          enum: [TRANSACTION]
          example: "TRANSACTION"
        eventType:
          type: string
          description: Tipo de evento dentro do tópico
          enum: [created, status_change]
          example: "created"
        id:
          type: string
          format: uuid
          description: ID interno da movimentação
        externalID:
          type: string
          description: Identificador externo do provedor ou banco para a movimentação
        amount:
          type: string
          description: Valor da movimentação como string decimal
        currency:
          type: string
          description: Código de moeda ISO 4217
          pattern: "^[A-Z]{3}$"
        direction:
          type: string
          description: Direção da movimentação em relação à sua conta
          enum: [Inbound, Outbound]
        status:
          type: string
          description: Status atual da movimentação
        type:
          type: string
          description: Tipo de movimentação (por exemplo `inbound` ou `outbound`)
        accountId:
          type: string
          format: uuid
          description: ID da conta HG.Cash associada à movimentação
        date:
          type: string
          format: date-time
          description: Data-hora local da movimentação no fuso horário informado
        timezone:
          type: string
          description: Identificador de fuso horário IANA usado para interpretar `date`
        fromName:
          type: string
          description: Nome do remetente
        toName:
          type: string
          description: Nome do destinatário
        fromCBU:
          type: string
          description: CBU do remetente (22 dígitos). Enviado como string.
          pattern: "^\\d{22}$"
        toCBU:
          type: string
          description: CBU do destinatário (22 dígitos). Enviado como string.
          pattern: "^\\d{22}$"
        fromCUIT:
          type: string
          description: CUIT/CUIL do remetente (11 dígitos). Enviado como string.
          pattern: "^\\d{11}$"
        toCUIT:
          type: string
          description: CUIT/CUIL do destinatário (11 dígitos). Enviado como string.
          pattern: "^\\d{11}$"
        coelsaCode:
          type: string
          description: Código de transação Coelsa

    WebhookCheckoutPayload:
      type: object
      description: Payload enviado quando uma sessão de checkout hospedado muda de estado
      required:
        - id
        - status
        - event
        - amount
        - currency
        - country
        - topic
        - eventType
      properties:
        topic:
          type: string
          description: Tópico do webhook para roteamento
          enum: [CHECKOUT]
          example: "CHECKOUT"
        eventType:
          type: string
          description: Tipo de evento (corresponde a `event`)
          enum:
            - checkout.completed
            - checkout.awaiting_manual_review
            - checkout.rejected
          example: "checkout.completed"
        id:
          type: string
          format: uuid
          description: ID da sessão de checkout
        status:
          type: string
          description: Status do checkout após o evento
        event:
          type: string
          enum:
            - checkout.completed
            - checkout.awaiting_manual_review
            - checkout.rejected
        amount:
          type: string
          description: Valor decimal como string
        currency:
          type: string
          description: Código de moeda ISO 4217
        country:
          type: string
          enum: [AR, BR, CL, BO]
        transactionId:
          type: string
          format: uuid
          nullable: true
          description: Transação de entrada vinculada, quando disponível
        metadata:
          type: object
          description: Metadados opacos da criação do checkout
        completedAt:
          type: string
          format: date-time
          nullable: true

    CreateCheckoutRequest:
      type: object
      required: [country, amount, successUrl]
      properties:
        country:
          type: string
          enum: [AR, BR, CL, BO]
          description: País do checkout (AR, BR, CL ou BO)
        amount:
          type: string
          description: Valor decimal como string
        accountId:
          type: string
          format: uuid
          description: ID da conta HG.Cash que receberá o pagamento
        successUrl:
          type: string
          format: uri
          description: URL de redirecionamento após pagamento bem-sucedido
        cancelUrl:
          type: string
          format: uri
          description: URL de redirecionamento se o pagador cancelar
        webhookUrl:
          type: string
          format: uri
          description: URL de webhook opcional para eventos desta sessão
        expiresInSeconds:
          type: integer
          description: Tempo de expiração da sessão em segundos
        idempotencyKey:
          type: string
          description: Chave de idempotência opcional para evitar duplicatas
        locale:
          type: string
          enum: [es, en]
          description: Idioma da interface do checkout
        metadata:
          type: object
          description: Metadados opacos anexados à sessão
        payer:
          type: object
          properties:
            name: { type: string, description: "Nome completo do pagador (obrigatório para BR e BO)" }
            document: { type: string, description: "AR DNI de 8 dígitos; BR CPF/CNPJ do pagador; BO CI/documento do pagador" }
            email: { type: string, format: email }
          description: "BR exige name, document e email; BO exige name, document e email"
        paymentMethodId:
          type: string
          format: uuid
          description: Obrigatório para CL
        customer:
          type: object
          description: Obrigatório para CL (veja os campos customer de ClInboundTransactionRequest)

    CreateCheckoutResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        publicToken: { type: string }
        checkoutUrl: { type: string, format: uri }
        status: { type: string }
        expiresAt: { type: string, format: date-time }
        accountDisplay:
          type: object
          description: Presente para AR (CVU, alias, titular)
        qrCode: { type: string }
        pixCopiaECola: { type: string }
        checkoutUrlProvider: { type: string, format: uri }

    InboundTransactionRequest:
      type: object
      description: Solicitação para criar uma transação de entrada (cobrança) em contas BRL do Brasil
      required:
        - accountId
        - amount
        - email
        - document
      properties:
        accountId:
          type: string
          format: uuid
          description: ID da conta que receberá os fundos
        amount:
          type: number
          format: decimal
          description: Valor a receber (positivo)
        email:
          type: string
          format: email
          description: E-mail do pagador para a cobrança
        document:
          type: string
          description: CPF ou CNPJ do pagador (somente dígitos, ou com pontuação)
        webhookUrl:
          type: string
          format: uri
          description: URL opcional para receber atualizações de status

    InboundTransactionResponse:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
          format: uuid
          description: ID da transação HG.Cash
        qrCode:
          type: string
          description: String do QR code para o pagador escanear (base64 ou string PIX)
        pixCopiaECola:
          type: string
          description: String PIX copia e cola (alternativa ao QR code)
        status:
          type: string
          enum: [pending]

    BrazilProviderError:
      type: object
      required: [error, code, type]
      description: |
        Erro relacionado à operação de pagamento PIX (Brasil). O corpo é seguro para o cliente:
        não expõe detalhes internos nem um segundo campo `message`. Use `code` e `type` na sua integração.
      properties:
        error:
          type: string
          description: Mensagem legível para exibir ou registrar no cliente
        code:
          type: string
          description: |
            Código estável para integração. Exemplos: `BR_INBOUND_PROVIDER_CREATE_FAILED`,
            `BR_INBOUND_PROVIDER_MISSING_TXID`, `BR_TRANSACTION_STATUS_PROVIDER_ERROR`.
        type:
          type: string
          description: |
            Categoria do erro. Exemplos: `provider_error` (falha ao criar ou consultar a operação),
            `provider_invalid_response` (HTTP 200 mas resposta incompleta, por exemplo sem identificador PIX).

    BoliviaProviderError:
      type: object
      required: [error, code, type]
      description: Erro seguro do provedor de pagamento (sem detalhes internos)
      properties:
        error:
          type: string
        code:
          type: string
          description: Código estável (ex. BO_INBOUND_PROVIDER_MISSING_TXID)
        type:
          type: string

    ClPaymentMethod:
      type: object
      required: [id, country, type, name]
      properties:
        id:
          type: string
          format: uuid
          description: ID do método de pagamento HG.Cash para a opção de cash-in selecionada
        country:
          type: string
          example: CL
        type:
          type: string
          enum: [BANK_TRANSFER, CASH, WALLET, CREDIT_CARD]
        name:
          type: string

    ClPaymentMethodsResponse:
      type: object
      required: [paymentMethods]
      properties:
        paymentMethods:
          type: array
          items:
            $ref: '#/components/schemas/ClPaymentMethod'

    ClInboundCustomer:
      type: object
      required: [firstName, lastName, email, personalId, ip]
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        personalId:
          type: string
          description: Documento de identidade chileno (cédula)
        ip:
          type: string
        city:
          type: string
        address:
          type: string
        zip:
          type: string
        phone:
          type: string

    ClInboundTransactionRequest:
      type: object
      description: Criar transação de entrada (checkout hospedado) para contas CLP no Chile
      required: [accountId, paymentMethodId, amount, customer]
      properties:
        accountId:
          type: string
          format: uuid
        paymentMethodId:
          type: string
          format: uuid
          description: ID retornado por GET /cl/payment-methods
        amount:
          oneOf:
            - type: number
              format: decimal
            - type: string
          description: Valor em CLP (ex. 100.50)
        description:
          type: string
        webhookUrl:
          type: string
          format: uri
        returnUrl:
          type: string
          format: uri
        language:
          type: string
          enum: [EN, ES, PT]
        customer:
          $ref: '#/components/schemas/ClInboundCustomer'

    ClInboundTransactionResponse:
      type: object
      required: [id, checkoutUrl, status]
      properties:
        id:
          type: string
          format: uuid
        checkoutUrl:
          type: string
          format: uri
          description: URL de checkout hospedado para redirecionar o pagador
        status:
          type: string
          enum: [pending]

    ClOutboundTransactionRequest:
      type: object
      description: Criar payout bancário para contas CLP no Chile
      required:
        - accountId
        - amount
        - beneficiaryFirstName
        - beneficiaryLastName
        - email
        - documentType
        - documentNumber
        - payoutBeneficiaryTypeCode
        - bankName
        - accountNumber
        - payoutAccountTypeCode
      properties:
        accountId:
          type: string
          format: uuid
        amount:
          oneOf:
            - type: number
              format: decimal
            - type: string
        beneficiaryFirstName:
          type: string
        beneficiaryLastName:
          type: string
        email:
          type: string
          format: email
        documentType:
          type: string
        documentNumber:
          type: string
        payoutBeneficiaryTypeCode:
          type: string
          enum: [person, company]
        bankName:
          type: string
          description: Código do banco (3 caracteres no Chile)
        accountNumber:
          type: string
        payoutAccountTypeCode:
          type: string
        webhookUrl:
          type: string
          format: uri
        phone:
          type: string
        city:
          type: string
        address:
          type: string
        gender:
          type: string
        paymentReason:
          type: string

    ClOutboundTransactionResponse:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [processing, cancelled]

    ChileProviderError:
      type: object
      required: [error, code, type]
      description: Erro ao concluir uma operação de pagamento no Chile (sem detalhes internos)
      properties:
        error:
          type: string
        code:
          type: string
        type:
          type: string

    OutboundTransactionRequest:
      type: object
      description: Solicitação para criar uma transação de saída (saque) em contas BRL do Brasil
      required:
        - accountId
        - amount
        - name
        - keyType
        - keyPix
      properties:
        accountId:
          type: string
          format: uuid
        amount:
          type: number
          format: decimal
        name:
          type: string
          description: Nome do destinatário
        keyType:
          type: string
          enum: [document, email, evp, phone, cnpj]
          description: Tipo de chave PIX (document=CPF, evp=chave aleatória)
        keyPix:
          type: string
          description: Valor da chave PIX (e-mail, CPF, CNPJ, telefone ou chave aleatória)
        webhookUrl:
          type: string
          format: uri

    OutboundTransactionResponse:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
          format: uuid
          description: ID da transação HG.Cash
        status:
          type: string
          enum: [processing, cancelled]
          description: |
            - `processing`: O provedor aceitou o saque (HTTP 200). A transação está sendo processada.
            - `cancelled`: O provedor rejeitou ou falhou (não-200). A transação foi marcada como cancelada.

    DirectTransactionStatus:
      type: object
      description: Status de uma transação direta (entrada ou saída)
      properties:
        id:
          type: string
          format: uuid
        externalID:
          type: string
        status:
          type: string
          enum: [pending, done, expired, cancelled]
        direction:
          type: string
          enum: [Inbound, Outbound]
        amount:
          type: string
        currency:
          type: string

paths:
  /transactions:
    post:
      summary: Criar solicitação de transação (Cash Out)
      description: |
        Cria uma nova solicitação de transação a partir de uma das suas contas. Isso não executa uma transferência bancária imediata. Você pode informar um `webhookUrl` para receber atualizações de status.
        
        ## 📝 Campos obrigatórios
        
        - `accountId`: ID da sua conta a debitar
        - `toCBU` ou `toCVU`: CBU/CVU do destinatário (22 dígitos)
        - `amount`: Número decimal positivo
        - `webhookUrl` opcional: URL para receber atualizações de status
        
        ## 🔍 Regras de validação
        
        - A conta deve pertencer ao usuário autenticado
        - O CBU deve ser um número válido de 22 dígitos
        - O `externalID` opcional deve ser único por conta, se informado
        
      operationId: createTransactionRequest
      tags:
        - Transações
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction'
            examples:
              basic_request_cbu:
                summary: Solicitação básica
                description: Campos mínimos obrigatórios para uma solicitação de transferência de saída
                value:
                  accountId: "550e8400-e29b-41d4-a716-446655440123"
                  toCBU: "1100015400000000000021"
                  amount: 15000.50
              basic_request_cvu:
                summary: Solicitação básica com CVU
                description: Campos mínimos obrigatórios usando destino CVU
                value:
                  accountId: "550e8400-e29b-41d4-a716-446655440123"
                  toCVU: "0000003100012345678901"
                  amount: 15000.50
              complete_request:
                summary: Solicitação completa com webhook
                description: Solicitação de transferência de saída com metadados opcionais e URL de webhook para atualizações de status
                value:
                  accountId: "550e8400-e29b-41d4-a716-446655440123"
                  toCBU: "1100015400000000000021"
                  amount: 25000.00
                  toName: "María García"
                  toCUIT: 27987654321
                  concept: "Payment for consulting services"
                  externalDate: "2024-06-19T10:30:00Z"
                  coelsaCode: "COELSA123456"
                  data:
                    reference: "REF-001"
                    category: "services"
                    client_id: "CLIENT-789"
                  webhookUrl: "https://client.example.com/webhooks/transaction-request"
      responses:
        '201':
          description: Solicitação de transação criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRequestResponse'
              examples:
                success:
                  summary: Criação bem-sucedida
                  value:
                    id: "789e0123-e89b-12d3-a456-426614174999"
                    externalID: "REQ-2024-001234"
                    createdAt: "2024-06-19T10:30:00Z"
                    status: "PENDING"
        '400':
          description: Requisição inválida — dados fornecidos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                validation_error:
                  summary: Erro de validação
                  value:
                    error: "Validation failed"
                    message: "The provided data is invalid"
                    details:
                      amount: "Amount must be positive"
                      currency: "Currency must be 3 letters"
        '403':
          description: Proibido — a conta não pertence ao usuário autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                forbidden_account:
                  summary: Acesso à conta negado
                  value:
                    error: "You do not have access to this account"
        '409':
          description: Conflito — a solicitação não pode ser criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                duplicate_external_id:
                  summary: ID externo duplicado
                  value:
                    error: "Transaction request with this external ID already exists for this account"
                    code: "DUPLICATE_EXTERNAL_ID"
                    message: "The provided externalID already exists for this account"
                insufficient_net_balance:
                  summary: Saldo líquido insuficiente
                  description: Rejeitado porque o saldo líquido (saldo - taxas pendentes) é menor que o valor solicitado
                  value:
                    error: "Insufficient net balance"
                    code: "INSUFFICIENT_NET_BALANCE"
                    message: "Net available balance (balance - pending fees) is not enough to cover the requested amount"
                    details:
                      accountId: "550e8400-e29b-41d4-a716-446655440123"
                      currency: "ARS"
                      amount: 15000.5
                      balance: 12000
                      pendingFees: 2000
                      netBalance: 10000
        '401':
          description: Não autorizado — token inválido ou ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_token:
                  summary: Token ausente
                  value:
                    error: "Authentication required"
                    message: "Bearer token is required"
                invalid_token:
                  summary: Token inválido
                  value:
                    error: "Invalid token"
                    message: "The provided token is invalid or expired"
        '404':
          description: Não encontrado
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                server_error:
                  summary: Erro do servidor
                  value:
                    error: "Internal server error"
                    message: "An unexpected error occurred"

  /transaction/{id}/status:
    get:
      summary: Consultar status da solicitação de transação
      description: |
        Obtém o status de uma solicitação de transação criada via `/transactions`.
        Exige o bearer token do usuário que criou a solicitação.
      operationId: getTransactionRequestStatus
      tags:
        - Transações
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: ID da solicitação de transação
      responses:
        '200':
          description: Status obtido
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  externalID:
                    type: string
                    nullable: true
                  status:
                    type: string
                    enum: [PENDING, AWAITING_REVIEW, PROCESSING, DONE, ERROR, CANCELLED]
                  errorMessage:
                    type: string
                    nullable: true
                  errorCode:
                    type: string
                    nullable: true
                    enum: [INSUFFICIENT_BALANCE, DESTINATION_ERROR]
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
        '401':
          description: Não autorizado
        '404':
          description: Não encontrado
        '500':
          description: Erro interno do servidor

  /checkouts:
    post:
      summary: Criar sessão de checkout
      description: |
        Cria um checkout hospedado para AR (transferência + DNI), BR (QR PIX), CL (iframe do provedor) ou BO (pagamento QR).
        Retorna `checkoutUrl` para o pagador e campos opcionais do provedor (QR, URL do iframe).
      operationId: createCheckout
      tags: [Checkouts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutRequest'
      responses:
        '201':
          description: Criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCheckoutResponse'
        '400':
          description: Erro de validação
        '401':
          description: Não autorizado
        '403':
          description: Proibido — a conta não está operativa (`Bloqueada` ou `Cerrada`) ou o solicitante não tem acesso
        '500':
          description: Erro interno do servidor
    get:
      summary: Listar checkouts
      operationId: listCheckouts
      tags: [Checkouts]
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: country
          in: query
          schema:
            type: string
            enum: [AR, BR, CL, BO]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
        '401':
          description: Não autorizado

  /checkouts/{id}:
    get:
      summary: Obter checkout
      operationId: getCheckout
      tags: [Checkouts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
        '404':
          description: Não encontrado

  /checkouts/{id}/cancel:
    post:
      summary: Cancelar checkout pendente
      operationId: cancelCheckout
      tags: [Checkouts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK

  /checkouts/{id}/receipt:
    get:
      summary: Obter URL de download do comprovante do checkout
      operationId: getCheckoutReceipt
      tags: [Checkouts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: URL assinada para o comprovante enviado
        '404':
          description: Não encontrado

  /br/transactions/inbound:
    post:
      summary: Criar transação de entrada (Brasil)
      description: |
        Cria uma cobrança para receber um pagamento. Retorna dados de QR/copia e cola PIX para o pagador.
        A conta deve ser Brasil (BRL). A transação inicia em `pending` até a confirmação do pagamento.
      operationId: createBrInboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundTransactionRequest'
      tags:
        - Brasil
      responses:
        '201':
          description: Transação criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundTransactionResponse'
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado
        '403':
          description: Proibido — a conta não está operativa (`Bloqueada` ou `Cerrada`) ou o solicitante não tem acesso
        '404':
          description: Conta não encontrada
        '502':
          description: |
            Não foi possível concluir a operação de pagamento ou a resposta foi inválida/incompleta (por exemplo, sem `txid`).
            Corpo: `error`, `code`, `type` (veja `BrazilProviderError`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrazilProviderError'

  /br/transactions/outbound:
    post:
      summary: Criar transação de saída (Brasil)
      description: |
        Cria um saque PIX a partir de uma conta Brasil (BRL).
        Exige saldo líquido suficiente. A transação inicia em `processing`.
      operationId: createBrOutboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundTransactionRequest'
      tags:
        - Brasil
      responses:
        '201':
          description: |
            Transação criada. Retorna `status: processing` quando o provedor aceitou o saque (HTTP 200).
            Retorna `status: cancelled` quando o provedor rejeitou ou falhou (não-200); a transação é armazenada e marcada como cancelada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundTransactionResponse'
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado
        '403':
          description: Proibido — a conta não está operativa (`Bloqueada` ou `Cerrada`) ou o solicitante não tem acesso
        '404':
          description: Conta não encontrada
        '409':
          description: Saldo insuficiente

  /br/transactions/{id}/status:
    get:
      summary: Consultar status da transação (Brasil)
      description: |
        Obtém o status atual de uma transação direta PIX (entrada ou saída) no Brasil.
        Diferente de `GET /transaction/{id}/status`, que retorna o status de uma **solicitação** de transação.
      operationId: getBrTransactionStatus
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: ID da transação
      tags:
        - Brasil
      responses:
        '200':
          description: Status da transação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectTransactionStatus'
        '401':
          description: Não autorizado
        '404':
          description: Transação não encontrada
        '502':
          description: |
            Não foi possível consultar o status da transação.
            Corpo: `error`, `code`, `type` (veja `BrazilProviderError`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrazilProviderError'

  /cl/payment-methods:
    get:
      summary: Listar métodos de pagamento (Chile)
      description: |
        Retorna métodos de pagamento ativos para cash-in no Chile (CLP).
        Disponíveis quando sua conta CLP no Chile está habilitada para checkout hospedado.
      operationId: listClPaymentMethods
      parameters:
        - in: query
          name: type
          schema:
            type: string
            enum: [BANK_TRANSFER, CASH, WALLET, CREDIT_CARD]
      tags:
        - Chile
      responses:
        '200':
          description: Métodos de pagamento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClPaymentMethodsResponse'
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado

  /cl/transactions/inbound:
    post:
      summary: Criar transação de entrada (Chile)
      description: |
        Cria uma transação de entrada e retorna uma URL de checkout hospedado.
        A conta deve ser CLP no Chile. Inicia em `pending` até a confirmação do pagamento.
      operationId: createClInboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClInboundTransactionRequest'
      tags:
        - Chile
      responses:
        '201':
          description: Transação criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClInboundTransactionResponse'
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado
        '403':
          description: Proibido — a conta não está operativa (`Bloqueada` ou `Cerrada`) ou o solicitante não tem acesso
        '404':
          description: Conta ou método de pagamento não encontrado
        '502':
          description: Não foi possível concluir a operação de pagamento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChileProviderError'

  /cl/transactions/outbound:
    post:
      summary: Criar transação de saída (Chile)
      description: |
        Cria um payout bancário a partir de uma conta CLP no Chile. Exige saldo líquido suficiente.
        A transação inicia em `processing`.
      operationId: createClOutboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClOutboundTransactionRequest'
      tags:
        - Chile
      responses:
        '201':
          description: Transação criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClOutboundTransactionResponse'
        '400':
          description: Requisição inválida
        '401':
          description: Não autorizado
        '403':
          description: Proibido — a conta não está operativa (`Bloqueada` ou `Cerrada`) ou o solicitante não tem acesso
        '404':
          description: Conta não encontrada
        '409':
          description: Saldo insuficiente
        '502':
          description: Não foi possível concluir a operação de pagamento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChileProviderError'

  /cl/transactions/{id}/status:
    get:
      summary: Consultar status da transação (Chile)
      description: |
        Obtém o status mais recente de uma transação direta no Chile (entrada ou saída)
        e atualiza a HG.Cash quando houver mudança.
      operationId: getClTransactionStatus
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      tags:
        - Chile
      responses:
        '200':
          description: Status da transação
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/DirectTransactionStatus'
                  - type: object
                    properties:
                      providerStatus:
                        type: string
                        description: Detalhe de status complementar na consulta (opcional)
        '401':
          description: Não autorizado
        '404':
          description: Transação não encontrada
        '502':
          description: Não foi possível concluir a operação de pagamento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChileProviderError'

  /bo/banks:
    get:
      summary: Listar bancos (ACH Bolívia)
      description: Retorna os bancos disponíveis para payouts ACH de saída na Bolívia.
      operationId: listBoBanks
      parameters:
        - in: query
          name: country
          schema:
            type: string
            default: BO
      tags:
        - Bolívia
      responses:
        '200':
          description: Lista de bancos
          content:
            application/json:
              schema:
                type: object
                properties:
                  banks:
                    type: array
                    items:
                      type: object
                      properties:
                        code: { type: string }
                        name: { type: string }
        '401':
          description: Não autorizado
        '500':
          description: Erro interno do servidor

  /bo/transactions/inbound:
    post:
      summary: Criar transação de entrada (Bolívia)
      description: |
        Cria uma transação de entrada em BOB e retorna um QR code (imagem base64) para o pagador.
        A conta deve usar moeda BOB e país BO.
      operationId: createBoInboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountId, amount]
              properties:
                accountId: { type: string, format: uuid }
                amount: { type: number }
                description: { type: string, maxLength: 60 }
                webhookUrl: { type: string, format: uri }
      tags:
        - Bolívia
      responses:
        '201':
          description: Transação criada
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  qrCode: { type: string, description: Imagem QR em base64 }
                  status: { type: string }
        '403':
          description: Proibido — a conta não está operativa (`Bloqueada` ou `Cerrada`) ou o solicitante não tem acesso
        '404':
          description: Conta não encontrada
        '502':
          description: Erro do provedor de pagamento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoliviaProviderError'

  /bo/transactions/outbound:
    post:
      summary: Criar transação de saída (ACH Bolívia)
      description: |
        Cria uma transferência bancária de saída em BOB a partir de uma conta BOB.
        Exige saldo suficiente para o valor mais a taxa de saída.
      operationId: createBoOutboundTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accountId
                - amount
                - firstName
                - lastName
                - documentType
                - documentNumber
                - entityType
                - bankCode
                - destinationAccount
              properties:
                accountId: { type: string, format: uuid }
                amount: { type: number }
                firstName: { type: string }
                lastName: { type: string }
                documentType:
                  type: string
                  enum: [national_id, tax_id, passport, foreign_id]
                documentNumber: { type: string }
                entityType:
                  type: string
                  enum: [individual, company]
                bankCode: { type: string }
                destinationAccount: { type: string }
                description: { type: string, maxLength: 200 }
                webhookUrl: { type: string, format: uri }
      tags:
        - Bolívia
      responses:
        '201':
          description: Transação enfileirada para processamento
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  status: { type: string }
        '403':
          description: Proibido — a conta não está operativa (`Bloqueada` ou `Cerrada`) ou o solicitante não tem acesso
        '404':
          description: Conta não encontrada
        '409':
          description: Saldo insuficiente

  /bo/transactions/{id}/status:
    get:
      summary: Consultar status da transação (Bolívia)
      operationId: getBoTransactionStatus
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      tags:
        - Bolívia
      responses:
        '200':
          description: Status da transação
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/DirectTransactionStatus'
                  - type: object
                    properties:
                      providerStatus: { type: string }
        '502':
          description: Erro do provedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoliviaProviderError'

  /transactions/{id}/receipt:
    get:
      summary: Obter comprovante da transação
      description: |
        Gera um comprovante em PDF de uma transação e retorna uma URL assinada para download.
        O comprovante é gerado e armazenado em cache para requisições subsequentes.
        A URL assinada expira após 1 hora.
      operationId: getTransactionReceipt
      tags:
        - Transações
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: ID da transação (a transação bancária real, não a solicitação)
      responses:
        '200':
          description: URL assinada para download do comprovante em PDF
          content:
            application/json:
              schema:
                type: object
                required:
                  - signedUrl
                properties:
                  signedUrl:
                    type: string
                    format: uri
                    description: URL assinada temporária para download do comprovante em PDF (expira em 1 hora)
        '401':
          description: Não autorizado
        '404':
          description: Transação não encontrada
        '500':
          description: Erro interno do servidor

  /transaction-requests/{id}/transaction-id:
    get:
      summary: Obter ID da transação da solicitação
      description: |
        Obtém o ID da transação vinculada a uma solicitação de transação.
        Retorna o ID da transação bancária real assim que a solicitação foi processada (status DONE).
        Retorna `null` se a transação ainda não foi vinculada (por exemplo, ainda PENDING ou PROCESSING).
      operationId: getTransactionIdForRequest
      tags:
        - Transações
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: ID da solicitação de transação
      responses:
        '200':
          description: ID da transação vinculada (ou null se ainda não disponível)
          content:
            application/json:
              schema:
                type: object
                required:
                  - transactionId
                properties:
                  transactionId:
                    type: string
                    format: uuid
                    nullable: true
                    description: ID da transação vinculada a esta solicitação, ou null se ainda não processada
        '401':
          description: Não autorizado
        '404':
          description: Solicitação de transação não encontrada
        '500':
          description: Erro interno do servidor

  /alias-lookup:
    post:
      summary: Consultar CVU ou alias
      description: |
        Consulta informações do beneficiário por CVU (22 dígitos) ou alias.
        Retorna alias, CUIT, CVU, nome e tipo de pessoa.

        **Serviço pago**: Este endpoint é um recurso pago. O uso pode gerar cobranças. Consulte seu contador ou a equipe de faturamento da HG.Cash para detalhes de preços.
      operationId: aliasLookup
      tags:
        - Dados de referência
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AliasLookupRequest'
            examples:
              by_alias:
                summary: Consulta por alias
                value:
                  alias: "miempresa.cbu"
              by_cvu:
                summary: Consulta por CVU
                value:
                  alias: "0000003100012345678901"
      responses:
        '200':
          description: Informações do beneficiário encontradas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasLookupResponse'
        '400':
          description: Requisição inválida — entrada inválida ou não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                not_found:
                  summary: Não encontrado
                  value:
                    error: "Not found"
                    message: "No information found for this CVU or alias"
        '401':
          description: Não autorizado — token inválido ou ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Proibido — o usuário não tem acesso ao serviço de consulta de alias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                service_not_enabled:
                  summary: Serviço não habilitado
                  value:
                    error: "Access denied"
                    code: "ALIAS_LOOKUP_NOT_ENABLED"
                    message: "This user does not have access to the alias lookup service. Contact your administrator."
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts:
    get:
      summary: Obter contas do usuário
      description: |
        Retorna as contas do usuário autenticado, incluindo saldo do ledger, taxas pendentes,
        saldo líquido disponível (saldo menos taxas pendentes) e status da conta.
      operationId: getUserAccounts
      tags:
        - Contas
      responses:
        '200':
          description: Lista de contas
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        balance:
                          type: number
                          description: Saldo do ledger da conta arredondado para 2 casas decimais
                        pendingFees:
                          type: number
                          description: Taxas acumuladas mas ainda não cobradas, arredondadas para 2 casas decimais
                        netBalance:
                          type: number
                          description: Saldo disponível após taxas pendentes (saldo menos taxas pendentes), arredondado para 2 casas decimais
                        status:
                          type: string
                          description: Status do ciclo de vida da conta
                          enum:
                            - Operativa
                            - Bloqueada
                            - Cerrada
                        currency:
                          type: string
                        number:
                          type: string
                        alias:
                          type: string
                          nullable: true
                        platform:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                        company:
                          type: object
                          nullable: true
                          description: Empresa à qual a conta pertence (opcional)
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                  count:
                    type: integer
        '401':
          description: Não autorizado
        '500':
          description: Erro interno do servidor

  /account/{id}/balance:
    get:
      summary: Obter saldo da conta
      description: |
        Retorna o saldo, taxas pendentes, saldo líquido disponível, moeda e status da conta
        do usuário autenticado pelo ID.
      operationId: getAccountBalance
      tags:
        - Contas
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: ID da conta
      responses:
        '200':
          description: Saldo da conta
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  balance:
                    type: number
                    description: Saldo do ledger da conta arredondado para 2 casas decimais
                  currency:
                    type: string
                  pendingFees:
                    type: number
                    description: Taxas acumuladas mas ainda não cobradas, arredondadas para 2 casas decimais
                  netBalance:
                    type: number
                    description: Saldo disponível após taxas pendentes (saldo menos taxas pendentes), arredondado para 2 casas decimais
                  status:
                    type: string
                    description: Status do ciclo de vida da conta
                    enum:
                      - Operativa
                      - Bloqueada
                      - Cerrada
        '401':
          description: Não autorizado
        '404':
          description: Não encontrado
        '500':
          description: Erro interno do servidor

  /transaction-statuses:
    get:
      summary: Obter status de transação
      description: |
        Obtém todos os status de transação disponíveis.
        
        Use os IDs retornados para fins informativos.
        
        ## 📋 Status comuns
        
        - **processing**: A transação está sendo processada
        - **done**: Transação concluída com sucesso
        - **failed**: Falha no processamento da transação
        
      operationId: getTransactionStatuses
      tags:
        - Dados de referência
      responses:
        '200':
          description: Lista de status de transação
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransactionStatus'
              examples:
                statuses:
                  summary: Status de transação
                  value:
                    success: true
                    data:
                      - id: "550e8400-e29b-41d4-a716-446655440000"
                        name: "pending"
                        description: "Transaction is pending processing"
                      - id: "550e8400-e29b-41d4-a716-446655440001"
                        name: "completed"
                        description: "Transaction completed successfully"
                      - id: "550e8400-e29b-41d4-a716-446655440002"
                        name: "failed"
                        description: "Transaction processing failed"
        '401':
          description: Não autorizado — token inválido ou ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_token:
                  summary: Token ausente
                  value:
                    success: false
                    error: "Authentication required"
                    message: "Bearer token is required"
                invalid_token:
                  summary: Token inválido
                  value:
                    success: false
                    error: "Invalid token"
                    message: "The provided token is invalid or expired"
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /transaction-types:
    get:
      summary: Obter tipos de transação
      description: |
        Obtém todos os tipos de transação disponíveis.
        
        Use os IDs retornados no campo `typeID` ao criar transações.
        
        ## 📋 Tipos comuns
        
        - **transfer**: Transferência bancária
        - **payment**: Transação de pagamento
        - **deposit**: Depósito de dinheiro
        - **withdrawal**: Saque de dinheiro
        
      operationId: getTransactionTypes
      tags:
        - Dados de referência
      responses:
        '200':
          description: Lista de tipos de transação
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransactionType'
              examples:
                types:
                  summary: Tipos de transação
                  value:
                    success: true
                    data:
                      - id: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
                        name: "transfer"
                        description: "Bank transfer transaction"
                      - id: "6ba7b810-9dad-11d1-80b4-00c04fd430c9"
                        name: "payment"
                        description: "Payment transaction"
                      - id: "6ba7b810-9dad-11d1-80b4-00c04fd430ca"
                        name: "deposit"
                        description: "Money deposit transaction"
        '401':
          description: Não autorizado — token inválido ou ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_token:
                  summary: Token ausente
                  value:
                    success: false
                    error: "Authentication required"
                    message: "Bearer token is required"
                invalid_token:
                  summary: Token inválido
                  value:
                    success: false
                    error: "Invalid token"
                    message: "The provided token is invalid or expired"
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

webhooks:
  transaction-request-status-updated:
    post:
      summary: Status da solicitação de transação atualizado
      description: |
        A HG.Cash enviará este webhook quando o status de uma solicitação de transação mudar. O corpo da requisição contém os detalhes da solicitação e o status atual.
        Você pode informar um `webhookUrl` no payload de criação ou configurar um padrão nas configurações do usuário.
      operationId: transactionRequestStatusUpdatedWebhook
      tags:
        - Webhooks
      security:
        - webhookHmac: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequestStatusWebhook'
            examples:
              example:
                summary: Exemplo de payload
                value:
                  topic: "TRANSACTION_REQUEST"
                  eventType: "status_change"
                  id: "789e0123-e89b-12d3-a456-426614174999"
                  externalID: "REQ-2024-001234"
                  amount: "15000.50"
                  currency: "ARS"
                  direction: "Inbound"
                  status: "PENDING"
                  type: "request"
                  accountId: "550e8400-e29b-41d4-a716-446655440123"
                  date: "2024-06-19T10:30:00"
                  timezone: "America/Argentina/Buenos_Aires"
                  fromName: "Juan Pérez"
                  toName: "María García"
                  fromCBU: "1700015400000000000010"
                  toCBU: "1100015400000000000021"
                  error: "Insufficient funds on destination account"
                  fromCUIT: "20123456789"
                  toCUIT: "27987654321"
                  concept: "Payment for services"
                  coelsaCode: "COELSA123456"
  transaction-request-associated:
    post:
      summary: Solicitação de transação associada à transação
      description: |
        A HG.Cash envia este webhook quando uma solicitação de transação de saída é vinculada à
        transação correspondente no ledger (após processamento Urbana). O corpo segue
        `TransactionRequestStatusWebhook`, usa `topic` `TRANSACTION_REQUEST`, `eventType`
        `transaction_associated` e inclui `transactionId`.
      operationId: transactionRequestAssociatedWebhook
      tags:
        - Webhooks
      security:
        - webhookHmac: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/TransactionRequestStatusWebhook'
                - type: object
                  required:
                    - transactionId
                  properties:
                    transactionId:
                      type: string
                      format: uuid
            examples:
              example:
                summary: Solicitação vinculada à transação no ledger
                value:
                  topic: "TRANSACTION_REQUEST"
                  eventType: "transaction_associated"
                  id: "789e0123-e89b-12d3-a456-426614174999"
                  externalID: "REQ-2024-001234"
                  amount: "15000.50"
                  currency: "ARS"
                  direction: "Outbound"
                  status: "DONE"
                  type: "request"
                  accountId: "550e8400-e29b-41d4-a716-446655440123"
                  transactionId: "040eac5b-a998-4879-9d8a-05fd2a08c625"
                  date: "2024-06-19T10:30:00"
                  timezone: "America/Argentina/Buenos_Aires"
                  coelsaCode: "COELSA123456"
  account-movement:
    post:
      summary: Movimentação de conta
      description: |
        A HG.Cash enviará este webhook sempre que dinheiro entrar ou sair de uma das suas contas. O corpo da requisição contém os detalhes da movimentação.
        
        Use isso para manter seus saldos e ledgers internos sincronizados com a HG.Cash.
      operationId: accountMovementWebhook
      tags:
        - Webhooks
      security:
        - webhookHmac: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountMovementWebhook'
            examples:
              example:
                summary: Exemplo de payload de movimentação de conta
                value:
                  topic: "TRANSACTION"
                  eventType: "created"
                  id: "040eac5b-a998-4879-9d8a-05fd2a08c625"
                  externalID: "E-67REZ8NPQDQ460QK94KVGO-2026-01-14 09:17:21"
                  amount: "12000"
                  currency: "ARS"
                  direction: "Inbound"
                  status: "hecha"
                  type: "inbound"
                  date: "2026-01-14T09:17:21"
                  timezone: "America/Argentina/Buenos_Aires"
                  fromName: "Jose Angel Gallucci"
                  toName: "MUNDO OFERTA IMPORTACIONES S.A"
                  fromCBU: "0000003100117987328844"
                  toCBU: "0000151500037626120131"
                  fromCUIT: "20125680667"
                  toCUIT: "30718891813"
                  coelsaCode: "67REZ8NPQDQ460QK94KVGO"
                  accountId: "843d9d8b-6db8-47a2-8c22-23b198e99c15"
  checkout-completed:
    post:
      summary: Evento de checkout
      description: |
        A HG.Cash envia este webhook quando uma sessão de checkout hospedado é concluída, precisa de revisão manual ou é rejeitada.
        Configure `webhookUrl` na criação ou use sua URL de webhook padrão em Configurações.
      operationId: checkoutEventWebhook
      tags:
        - Webhooks
      security:
        - webhookHmac: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCheckoutPayload'
            examples:
              completed:
                summary: Checkout concluído
                value:
                  topic: "CHECKOUT"
                  eventType: "checkout.completed"
                  id: "550e8400-e29b-41d4-a716-446655440000"
                  status: "completed"
                  event: "checkout.completed"
                  amount: "1500.00"
                  currency: "ARS"
                  country: "AR"
                  transactionId: "789e0123-e89b-12d3-a456-426614174999"
                  metadata: { orderId: "ORD-42" }
                  completedAt: "2026-06-05T12:00:00.000Z"
tags:
  - name: Transações
    description: "Gestão de transações — Criar e gerenciar transações no sistema HG.Cash. Todos os endpoints de transação exigem autenticação."
  - name: Contas
    description: "Contas — Obter informações de conta e saldos do usuário autenticado. Todos os endpoints de conta exigem autenticação."
  - name: Dados de referência
    description: "Dados de referência — Obter dados de referência como status e tipos de transação. Esses endpoints exigem autenticação."
  - name: Webhooks
    description: "Webhooks — Notificações de eventos enviadas ao seu endpoint HTTP."
  - name: Brasil
    description: "Brasil — Criar e consultar transações PIX (BRL)."
  - name: Chile
    description: "Chile — Checkout hospedado e payouts bancários (CLP)."
  - name: Bolívia
    description: "Bolívia — Cash-in com QR e payouts ACH (BOB)."
  - name: Checkouts
    description: "Sessões de checkout hospedado para AR, BR, CL e BO"